input[type='radio'] { display: none; }
input[type='radio']+label { display: inline-block; padding-left: 25px; padding-right: 15px; min-height: 20px; background:url("../images/common/radio-off.png") no-repeat left center; line-height: 20px; cursor: pointer; margin: 3px 0;}
input[type='radio']:checked+label { background:url("../images/common/radio-on.png") no-repeat left center; }
input[type='radio']+label.standalone { padding: 0; height: 20px; width: 20px; }

input[type='checkbox'] { display: none; }
input[type='checkbox']+label { display: inline-block; padding-left: 25px; padding-right: 15px; min-height: 20px; background:url("../images/common/chk-off.png") no-repeat left center; background-size: 20px; line-height: 20px; cursor: pointer; margin: 3px 0; }
input[type='checkbox']:checked+label { background:url("../images/common/chk-on.png") no-repeat left center; background-size: 20px; }
input[type='checkbox']+label.standalone { padding: 0; height: 20px; width: 20px; }

.dn { display: none !important; }

/** 레이어 팝업 S */
#layer_dim { background:rgba(0,0,0, 0.7); position: fixed; top: 0; left: 0; width: 100%; height: 100%; cursor: pointer; z-index: 10; }
#layer_popup { background: #ffffff; position: fixed; z-index: 11; border-radius: 30px; overflow-x: hidden; overflow-y: auto; padding: 20px; }
#layer_popup .popup_title { border-bottom: 1px solid #000000;  margin-bottom: 20px; font-size: 1.15rem; font-weight: bold; padding: 0 5px 13px; }
#layer_popup .layer_close { cursor: pointer; position: absolute; right: 25px; top: 15px; font-size: 1.8rem; }
/** 레이어 팝업 E */

.fixed { overflow:hidden;}