<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/main}">
<main layout:fragment="content">
	<div class="destination">
		<form th:action="@{/travel_destination_main}" method="get">
			<div class="destination_search">
				<div class="search_input">
					<input type="text" class="input_txt" name="destSearchKeyword" placeholder="여행지 검색">
					<input type="button" class="input_btn" value="검색">
				</div>
			</div>
		</form>
		<fieldset>
			<div class="destination_area">
				<div class="destination_radio">
					<input type="radio" name="destination" id="all" value="전체">
					<label for='all'>전체</label>

					<input type="radio" name="destination" id="seoul" value="서울">
					<label for="seoul">서울</label>

					<input type="radio" name="destination" id="inchen" value="인천">
					<label for="inchen">인천</label>

					<input type="radio" name="destination" id="daejun" value="대전">
					<label for="daejun">대전</label>

					<input type="radio" name="destination" id="sejong" value="세종">
					<label for="sejong">세종</label>

					<input type="radio" name="destination" id="daegu" value="대구">
					<label for="daegu">대구</label>
				</div>
				<div class="destination_radio">
					<input type="radio" name="destination" id="busan" value="부산">
					<label for="busan">부산</label>

					<input type="radio" name="destination" id="wolsan" value="울산">
					<label for="wolsan">울산</label>

					<input type="radio" name="destination" id="gwangju" value="광주">
					<label for="gwangju">광주</label>
					
					<input type="radio" name="destination" id="gyeonggi" value="경기">
					<label for="gyeonggi">경기</label>

					<input type="radio" name="destination" id="gangwong" value="강원">
					<label for="gangwong">강원</label>

					
				</div>
			</div>
		</fieldset>
		<div class="destination_content">
			<div class="allBox"  id="allBox">
				<!-- 
				<th:block th:each="destination,status : ${list}">
					<span th:text="${destination.tourDestination}"></span>
					<span th:text="${destination.tourTitle}"></span>
					<img style="max-width: 300px;" th:src="@{/images/main_test/sub4.jpg}">
				</th:block>
				-->
			</div>
		</div>
		<div class="pagination justify-content-center">
	        <a href="?page={{previous}}" role="button" class="btn btn-lg bi bi-caret-left-square-fill"></a>
	        <a href="?page={{next}}" role="button" class="btn btn-lg bi bi-caret-right-square-fill"></a>
	    </div>
		
	</div>
</main>

</html>