<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{travel_destination/travel_destination_main_layout}">
<main layout:fragment="content">
	<div class="destination">
		<form th:action="@{/travel_destination_main}" method="get">
			<div class="destination_search">
				<div class="search_input">
					<input type="text" class="input_txt" name="destSearchKeyword" placeholder="여행지 검색">
					<input type="button" class="input_btn" value="검색">
				</div>
			</div>
		</form>
		<hr>
		<div class="content_detail">
			<p th:text="'No. ' + ${detail.destinationNo}"></p>
			<div class="hits_heart">
				<p th:text="'조회수 ' + ${detail.tourHits}"></p>
				<p th:text="'좋아요 ' + ${detail.tourHeart}"></p>
			</div>
		</div>
		<hr>
		<div class="destination_detail_all">
			<div th:if="${detail != null}">
				<div class="destination_detail_title">

					<h2 th:text="${detail.tourTitle}"></h2>
					<h3 th:text="${detail.tourDestination}"></h3>
				</div>
			</div>
			<div class="destination_detail_main">
				<div class="dest_detail_img">
					<img th:src="${detail.tourImg}">
				</div>
				<div class="dest_detail_info">
					<div class="dest_detail_txt">
						<h2>관광지정보</h2>
						<p th:text="'' + ${detail.tourDetaiIinfo}"></p>
					</div>
					<div class="dest_detail_txt2">
						<h2>상세정보</h2>
						<div class="detail_txt2">
							<div class="detail_txt">
								<ul>
									<li th:text="'주소 : ' + ${detail.tourAddr}">
									</li>
									<li th:text="'영업시간 : ' + ${detail.tourOperatingHour}">
									</li>
									<li th:text="'휴일 : ' + ${detail.tourHoliday}">
									</li>
								</ul>
							</div>
							<div class="detail_txt">
								<ul>
									<li th:text="'홈페이지 : ' + ${detail.tourHomepage}">
									</li>
									<li th:text="'이용요금 : ' + ${detail.tourCharges}">
									</li>
									<li th:text="'문의 : ' + ${detail.tourNumber}">
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="kakaoMap">
						<script type="text/javascript"
							src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5cf0f012351259a60d2d7388a32df3af"></script>

						<div class="dest_detail_map">
							<h2>지도</h2>
							<div class="detail_map" id="map">
								<input type="hidden" th:value="${detail.mapX}" id="Lat">
								<input type="hidden" th:value="${detail.mapY}" id="Lng">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script>
		//좌표 값 가져오기
		const mapX = document.getElementById('Lng').value;
		const mapY = document.getElementById('Lat').value;
		console.log(mapX);
		console.log(mapY);

		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
			mapOption = {
				center: new kakao.maps.LatLng(mapX, mapY), // 지도의 중심좌표
				level: 5 // 지도의 확대 레벨
			};

		var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

		// 마커가 표시될 위치입니다 
		var markerPosition = new kakao.maps.LatLng(mapX, mapY);

		// 마커를 생성합니다
		var marker = new kakao.maps.Marker({
			position: markerPosition
		});

		// 마커가 지도 위에 표시되도록 설정합니다
		marker.setMap(map);

		// 아래 코드는 지도 위의 마커를 제거하는 코드입니다
		// marker.setMap(null);    
	</script>

</main>

</html>