<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{travel_destination/travel_destination_main_layout}">
	<main layout:fragment="content">
		<div class="destination">
			<div class="destination_search">
				<div class="search_input">
					<input type="text" class="input_txt" placeholder="여행지 검색">
					<input type="button" class="input_btn" value="검색">
				</div>
			</div>
			<div class="destination_detail_all">
				<div class="destination_detail_title">
					<h2>여행지 이름</h2>
					<h3>지역</h3>
				</div>
			</div>
		</div>
	</main>
</html>