<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{travel_destination/travel_destination_main_layout}">
<main layout:fragment="content">
	<div class="destination">
		<div class="destination_search">
			<div class="search_input">
				<input type="text" class="input_txt" placeholder="여행지 검색">
				<input type="button" class="input_btn" value="검색">
			</div>
		</div>
		<fieldset>
			<div class="destination_area">
				<div class="destination_radio">
					<input type="radio" name="destination" id="all" onclick="showDiv(event);" checked>
					<label for='all'>전체</label>

					<input type="radio" name="destination" id="seoul" onclick="showDiv(event);">
					<label for="seoul">서울</label>

					<input type="radio" name="destination" id="inchen" onclick="showDiv(event);">
					<label for="inchen">인천</label>

					<input type="radio" name="destination" id="daejun" onclick="showDiv(event);">
					<label for="daejun">대전</label>

					<input type="radio" name="destination" id="sejong" onclick="showDiv(event);">
					<label for="sejong">세종</label>

					<input type="radio" name="destination" id="daegu" onclick="showDiv(event);">
					<label for="daegu">대구</label>

					<input type="radio" name="destination" id="busan" onclick="showDiv(event);">
					<label for="busan">부산</label>

					<input type="radio" name="destination" id="wolsan" onclick="showDiv(event);">
					<label for="wolsan">울산</label>

					<input type="radio" name="destination" id="gwangju" onclick="showDiv(event);">
					<label for="gwangju">광주</label>
				</div>
				<div class="destination_radio">
					<input type="radio" name="destination" id="gyeonggi" onclick="showDiv(event);">
					<label for="gyeonggi">경기</label>

					<input type="radio" name="destination" id="gangwong" onclick="showDiv(event);">
					<label for="gangwong">강원</label>

					<input type="radio" name="destination" id="chungbuk" onclick="showDiv(event);">
					<label for="chungbuk">충북</label>

					<input type="radio" name="destination" id="chungnam" onclick="showDiv(event);">
					<label for="chungnam">충남</label>

					<input type="radio" name="destination" id="gyeongbuk" onclick="showDiv(event);">
					<label for="gyeongbuk">경북</label>

					<input type="radio" name="destination" id="gyeongnam" onclick="showDiv(event);">
					<label for="gyeongnam">경남</label>

					<input type="radio" name="destination" id="junbuk" onclick="showDiv(event);">
					<label for="junbuk">전북</label>

					<input type="radio" name="destination" id="junnam" onclick="showDiv(event);">
					<label for="junnam">전남</label>

					<input type="radio" name="destination" id="jeju" onclick="showDiv(event);">
					<label for="jeju">제주</label>
				</div>
			</div>
		</fieldset>
		<div class="destination_content">
			<div class="">
				<div class="dest_content" id="allBox">
					<div class="content_1">
						<a th:href="@{/destination_detail}">
							<img th:src="@{/images/destination/gyeongbokgung.jpg}" alt="">
							<div class="text-center">
								<h3 class="text-xl">경복궁</h3>
							</div>
						</a>
					</div>
					<div class="content_1">
						<a th:href="@{/destination_detail}">
							<img th:src="@{/images/destination/gyeongbokgung.jpg}" alt="">
							<div class="text-center">
								<h3 class="text-xl">경복궁</h3>
							</div>
						</a>
					</div>
					<div class="content_1">
						<a th:href="@{/destination_detail}">
							<img th:src="@{/images/destination/gyeongbokgung.jpg}" alt="">
							<div class="text-center">
								<h3 class="text-xl">경복궁</h3>
							</div>
						</a>
					</div>
					<div class="content_1">
						<a th:href="@{/destination_detail}">
							<img th:src="@{/images/destination/gyeongbokgung.jpg}" alt="">
							<div class="text-center">
								<h3 class="text-xl">경복궁</h3>
							</div>
						</a>
					</div>
				</div>
				<div class="dest_content">
					<div class="content_1">
						<a th:href="@{/destination_detail}">
							<img th:src="@{/images/main_test/sub4.jpg}" alt="">
							<div class="text-center">
								<h3 class="text-xl">경복궁</h3>
							</div>
						</a>
					</div>
					<div class="content_1">
						<a th:href="@{/destination_detail}">
							<img th:src="@{/images/main_test/sub4.jpg}" alt="">
							<div class="text-center">
								<h3 class="text-xl">경복궁</h3>
							</div>
						</a>
					</div>
					<div class="content_1">
						<a th:href="@{/destination_detail}">
							<img th:src="@{/images/main_test/sub4.jpg}" alt="">
							<div class="text-center">
								<h3 class="text-xl">경복궁</h3>
							</div>
						</a>
					</div>
					<div class="content_1">
						<a th:href="@{/destination_detail}">
							<img th:src="@{/images/main_test/sub4.jpg}" alt="">
							<div class="text-center">
								<h3 class="text-xl">경복궁</h3>
							</div>
						</a>
					</div>
				</div>
				<div class="dest_content">
					<div class="content_1">
						<a th:href="@{/destination_detail}">
							<img th:src="@{/images/main_test/sub4.jpg}" alt="">
							<div class="text-center">
								<h3 class="text-xl">경복궁</h3>
							</div>
						</a>
					</div>
					<div class="content_1">
						<a th:href="@{/destination_detail}">
							<img th:src="@{/images/main_test/sub4.jpg}" alt="">
							<div class="text-center">
								<h3 class="text-xl">경복궁</h3>
							</div>
						</a>
					</div>
					<div class="content_1">
						<a th:href="@{/destination_detail}">
							<img th:src="@{/images/main_test/sub4.jpg}" alt="">
							<div class="text-center">
								<h3 class="text-xl">경복궁</h3>
							</div>
						</a>
					</div>
					<div class="content_1">
						<a th:href="@{/destination_detail}">
							<img th:src="@{/images/main_test/sub4.jpg}" alt="">
							<div class="text-center">
								<h3 class="text-xl">경복궁</h3>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="page_check">
				<!-- 일단 눈으로 확인을 위한 페이징 버튼 -->
				<a th:href="@{/travel_destination_main}">1</a>
				<a th:href="@{/travel_destination_main}">2</a>
				<a th:href="@{/travel_destination_main}">3</a>
			</div>
		</div>
	</div>
</main>

</html>