<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{travel_destination/travel_destination_main_layout}">
<main layout:fragment="content">
	<div class="destination">
		<div class="destination_search">
			<div class="search_input">
				<input type="text" class="input_txt" placeholder="여행지 검색">
				<input type="button" class="input_btn" value="검색">
			</div>
		</div>
		<div class="destination_area">
			<div class="dest_area_flex">
				<a th:href="@{travel_destination_main}">
					<div class="area" style="border:1px solid pink;">
						서울
					</div>
				</a>
				<a th:href="@{travel_destination_main}">
					<div class="area" style="border:1px solid pink;">
						인천
					</div>
				</a>
				<a th:href="@{travel_destination_main}">
					<div class="area" style="border:1px solid pink;">
						대전
					</div>
				</a>
				<a th:href="@{travel_destination_main}">
					<div class="area" style="border:1px solid pink;">
						대구
					</div>
				</a>
				<a th:href="@{travel_destination_main}">
					<div class="area" style="border:1px solid pink;">
						광주
					</div>
				</a>
				<a th:href="@{travel_destination_main}">
					<div class="area" style="border:1px solid pink;">
						부산
					</div>
				</a>
				<a th:href="@{travel_destination_main}">
					<div class="area" style="border:1px solid pink;">
						울산
					</div>
				</a>
				<a th:href="@{travel_destination_main}">
					<div class="area" style="border:1px solid pink;">
						세종
					</div>
				</a>
				<a th:href="@{travel_destination_main}">
					<div class="area" style="border:1px solid pink;">
						경기
					</div>
				</a>
			</div>
			<div class="dest_area_flex">
				<a th:href="@{travel_destination_main}">
					<div class="area" style="border:1px solid pink;">
						강원
					</div>
				</a>
				<a th:href="@{travel_destination_main}">
					<div class="area" style="border:1px solid pink;">
						충북
					</div>
				</a>
				<a th:href="@{travel_destination_main}">
					<div class="area" style="border:1px solid pink;">
						충남
					</div>
				</a>
				<a th:href="@{travel_destination_main}">
					<div class="area" style="border:1px solid pink;">
						경북
					</div>
				</a>
				<a th:href="@{travel_destination_main}">
					<div class="area" style="border:1px solid pink;">
						경남
					</div>
				</a>
				<a th:href="@{travel_destination_main}">
					<div class="area" style="border:1px solid pink;">
						전북
					</div>
				</a>
				<a th:href="@{travel_destination_main}">
					<div class="area" style="border:1px solid pink;">
						전남
					</div>
				</a>
				<a th:href="@{travel_destination_main}">
					<div class="area" style="border:1px solid pink;">
						제주
					</div>
				</a>
				<a th:href="@{travel_destination_main}">
					<div class="area" style="border:1px solid pink;">
						전체
					</div>
				</a>
			</div>
		</div>
		<div class="destination_best">
			<h2>11월 인기여행지 Top 10</h2>
			<div>
			</div>
		</div>
</div>
</main>

</html>