<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title th:text="${siteTitle}">Travel Destination</title>
		<link th:href="@{/css/main/header.css}" rel="stylesheet" type="text/css">
		<link th:href="@{/css/main/footer.css}" rel="stylesheet" type="text/css">
		<link th:href="@{/css/destination/destination_main.css}" rel="stylesheet" type="text/css">
		<link th:href="@{/css/destination/destination_detail.css}" rel="stylesheet" type="text/css">
				<link th:href="@{css/newCommon.css}" rel="stylesheet" type="text/css">
		<script th:src="@{/js/destination/destination.js}"></script>
		<script th:src="@{/js/header.js}"></script>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Noto+Sans+KR:wght@100&family=Roboto+Mono:wght@200&display=swap" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
	</head>
	<body>
		<header th:replace="outlines/header::header"></header>
		
		<main layout:fragment="content">

		</main>
		
		<footer th:replace="outlines/footer::footer"></footer>
	</body>
</html>
