<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<th:block th:fragment="pagination">
				<div>
           			<ul class="pagination" th:with="start=${(list.number/list.size)*list.size + 1}, end=(${(list.totalPages == 0) ? 1 : (start + (list.size - 1) < list.totalPages ? start + (list.size - 1) : list.totalPages)})">
              				<li th:if="${start > 1}">
				            <a th:href="@{/admin/user/userManage(page=0)}" th:text="'<<'"></a>
				        </li>
				        <li th:if="${start > 1}">
				            <a th:href="@{/admin/user/userManage(page=${start - maxPage})}" th:text="'<'"></a>
				        </li>
				
				        <li class="paginate_button page-item" th:each="page: ${#numbers.sequence(start, end)}">
				            <a th:text="${page}" th:href="@{/admin/user/userManage(page=${page})}"></a>
				        </li>
				
				        <li th:if="${end < list.totalPages}">
				            <a th:href="@{/admin/user/userManage(page=${start + maxPage})}" th:text="'>'"></a>
				        </li>
				        <li th:if="${end < list.totalPages}">
				            <a th:href="@{/admin/user/userManage(page=${list.totalPages - 1})}" th:text="'>>'"></a>
				        </li>
              			</ul>
	        	</div>
	</th:block>
</html>