<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/main}">
		
	<main layout:fragment="content" class="content">
		<!-- 커뮤니티 공통 상단 네비바 -->
		<th:block th:replace="outlines/community_top::community_top"></th:block>
		
		<div class="marginTop150"></div>
		
	<!-- 문의 등록 -->	
		<div class="wrap centerW">
			<form method="post" th:action="@{/community/query_register}" th:object="${queryRequest}" autocomplete=off>
				<th:block th:replace="community/query/_form::form"></th:block>
				<div class="marginTop30"></div>
				<button class="btn0 width20" type="button" th:text="#{community.cancel}"
						th:onclick="|location.href='@{/community/query_main}'|">취소</button>
				<button class="width20" type="submit" th:text="#{community.register}">등록</button>
			</form>
		</div>
	</main>
</html>