<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main/main_layout}">

<head>
	<script type="text/javascript" th:src="@{/js/layer.js}"></script>
	<link th:href="@{/css/plan/weather.css}" rel="stylesheet" type="text/css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" th:src="@{/js/plan/makePlan/weather.js}"></script>
</head>
<main layout:fragment="content">

	<script>
		window.addEventListener("DOMContentLoaded", function () {

			const button1El = document.getElementById("button2");
			button1El.addEventListener("click", function () {
				codefty.popup.open("/plan/makeplan2", "새 일정 만들기", 600, 500, true);
			});

		});

		function btn() {
			alert('로그인 후 이용가능합니다.');
		}
	</script>



	<div class="main_view">
		<div class="start_content">
			<div class="right_text">
				<div class="Weather-slideshow-container">
					<div class="align-Colum1 align-Center">
						<div class="BorderRound Tmoney-fontsize-150">
							<span class="nowtime"></span>
							<span class="marginLeft-5">현재날씨</span>
						</div>

						<div class="Weather-Slides Weather-fade">
							<div class="align-Center align-Colum paddingTop-10">
								<span class="Tmoney-fontsize-150 color-blue">춘천</span>
								<span class="ChuncheonIcon"></span>
								<span class="ChuncheonNowtemp KOTRA-fontsize-100">현재기온:</span>
							</div>
						</div>

						<div class="Weather-Slides Weather-fade">
							<div class="align-Center align-Colum paddingTop-10">
								<span class="Tmoney-fontsize-150 color-blue">강릉</span>
								<span class="GangneungIcon"></span>
								<span class="GangneungNowtemp KOTRA-fontsize-100">현재기온:</span>
							</div>
						</div>

						<div class="Weather-Slides Weather-fade">
							<div class="align-Center align-Colum paddingTop-10">
								<span class="Tmoney-fontsize-150 color-blue">원주</span>
								<span class="WonjuIcon"></span>
								<span class="WonjuNowtemp KOTRA-fontsize-100">현재기온:</span>
							</div>
						</div>

						<div class="Weather-Slides Weather-fade">
							<div class="align-Center align-Colum paddingTop-10">
								<span class="Tmoney-fontsize-150 color-blue">서울</span>
								<span class="SeoulIcon"></span>
								<span class="SeoulNowtemp KOTRA-fontsize-100">현재기온:</span>
							</div>
						</div>

						<div class="Weather-Slides Weather-fade">
							<div class="align-Center align-Colum paddingTop-10">
								<span class="Tmoney-fontsize-150 color-blue">인천</span>
								<span class="IncheonIcon"></span>
								<span class="IncheonNowtemp KOTRA-fontsize-100">현재기온:</span>
							</div>
						</div>

						<div class="Weather-Slides Weather-fade">
							<div class="align-Center align-Colum paddingTop-10">
								<span class="Tmoney-fontsize-150 color-blue">청주</span>
								<span class="CheongjuIcon"></span>
								<span class="CheongjuNowtemp KOTRA-fontsize-100">현재기온:</span>
							</div>
						</div>

						<div class="Weather-Slides Weather-fade">
							<div class="align-Center align-Colum paddingTop-10">
								<span class="Tmoney-fontsize-150 color-blue">대전</span>
								<span class="DaejeonIcon"></span>
								<span class="DaejeonNowtemp KOTRA-fontsize-100">현재기온:</span>
							</div>
						</div>

						<div class="Weather-Slides Weather-fade">
							<div class="align-Center align-Colum paddingTop-10">
								<span class="Tmoney-fontsize-150 color-blue">안동</span>
								<span class="AndongIcon"></span>
								<span class="AndongNowtemp KOTRA-fontsize-100">현재기온:</span>
							</div>
						</div>

						<div class="Weather-Slides Weather-fade">
							<div class="align-Center align-Colum paddingTop-10">
								<span class="Tmoney-fontsize-150 color-blue">대구</span>
								<span class="DaeguIcon"></span>
								<span class="DaeguNowtemp KOTRA-fontsize-100">현재기온:</span>
							</div>
						</div>

						<div class="Weather-Slides Weather-fade">
							<div class="align-Center align-Colum paddingTop-10">
								<span class="Tmoney-fontsize-150 color-blue">울산</span>
								<span class="UlsanIcon"></span>
								<span class="UlsanNowtemp KOTRA-fontsize-100">현재기온:</span>
							</div>
						</div>

						<div class="Weather-Slides Weather-fade">
							<div class="align-Center align-Colum paddingTop-10">
								<span class="Tmoney-fontsize-150 color-blue">창원</span>
								<span class="ChangwonIcon"></span>
								<span class="ChangwonNowtemp KOTRA-fontsize-100">현재기온:</span>
							</div>
						</div>

						<div class="Weather-Slides Weather-fade">
							<div class="align-Center align-Colum paddingTop-10">
								<span class="Tmoney-fontsize-150 color-blue">부산</span>
								<span class="BusanIcon"></span>
								<span class="BusanNowtemp KOTRA-fontsize-100">현재기온:</span>
							</div>
						</div>

						<div class="Weather-Slides Weather-fade">
							<div class="align-Center align-Colum paddingTop-10">
								<span class="Tmoney-fontsize-150 color-blue">전주</span>
								<span class="JeonjuIcon"></span>
								<span class="JeonjuNowtemp KOTRA-fontsize-100">현재기온:</span>
							</div>
						</div>

						<div class="Weather-Slides Weather-fade">
							<div class="align-Center align-Colum paddingTop-10">
								<span class="Tmoney-fontsize-150 color-blue">목포</span>
								<span class="MokpoIcon"></span>
								<span class="MokpoNowtemp KOTRA-fontsize-100">현재기온:</span>
							</div>
						</div>

						<div class="Weather-Slides Weather-fade">
							<div class="align-Center align-Colum paddingTop-10">
								<span class="Tmoney-fontsize-150 color-blue">광주</span>
								<span class="GwangjuIcon"></span>
								<span class="GwangjuNowtemp KOTRA-fontsize-100">현재기온:</span>
							</div>
						</div>

						<div class="Weather-Slides Weather-fade">
							<div class="align-Center align-Colum paddingTop-10">
								<span class="Tmoney-fontsize-150 color-blue">여수</span>
								<span class="YeosuIcon"></span>
								<span class="YeosuNowtemp KOTRA-fontsize-100">현재기온:</span>
							</div>
						</div>

						<div class="Weather-Slides Weather-fade">
							<div class="align-Center align-Colum paddingTop-10">
								<span class="Tmoney-fontsize-150 color-blue">제주</span>
								<span class="JejuIcon"></span>
								<span class="JejuNowtemp KOTRA-fontsize-100">현재기온:</span>
							</div>
						</div>

					</div>

				</div>

				<br>
				<div class="textcenter">
					<span class="Weather-dot" onclick='WeatherCurrentSlide(1)'></span>
					<span class="Weather-dot" onclick='WeatherCurrentSlide(2)'></span>
					<span class="Weather-dot" onclick='WeatherCurrentSlide(3)'></span>
					<span class="Weather-dot" onclick='WeatherCurrentSlide(4)'></span>
					<span class="Weather-dot" onclick='WeatherCurrentSlide(5)'></span>
					<span class="Weather-dot" onclick='WeatherCurrentSlide(6)'></span>
					<span class="Weather-dot" onclick='WeatherCurrentSlide(7)'></span>
					<span class="Weather-dot" onclick='WeatherCurrentSlide(8)'></span>
					<span class="Weather-dot" onclick='WeatherCurrentSlide(9)'></span>
					<span class="Weather-dot" onclick='WeatherCurrentSlide(10)'></span>
					<span class="Weather-dot" onclick='WeatherCurrentSlide(11)'></span>
					<span class="Weather-dot" onclick='WeatherCurrentSlide(12)'></span>
					<span class="Weather-dot" onclick='WeatherCurrentSlide(13)'></span>
					<span class="Weather-dot" onclick='WeatherCurrentSlide(14)'></span>
					<span class="Weather-dot" onclick='WeatherCurrentSlide(15)'></span>
					<span class="Weather-dot" onclick='WeatherCurrentSlide(16)'></span>
					<span class="Weather-dot" onclick='WeatherCurrentSlide(17)'></span>
					<span class="Weather-dot" onclick='WeatherCurrentSlide(18)'></span>

				</div>

				<div class="all_text">
					<div class="first_text">
						국내 여행 스케줄 플래너
					</div>
					<div class="center_text">
						TourGo
					</div>
					<div class="last_text">
						<div th:if="${user}!=null">
							<button type="button" id="button2">새 일정 만들기</button>
						</div>
						<div th:unless="${user}!=null">
							<button type="button" onclick="btn()">새 일정 만들기</button>
						</div>
					</div>

					<br>
					<div class="textcenter">
						<span class="Weather-dot" onclick='WeatherCurrentSlide(1)'></span>
						<span class="Weather-dot" onclick='WeatherCurrentSlide(2)'></span>
						<span class="Weather-dot" onclick='WeatherCurrentSlide(3)'></span>
						<span class="Weather-dot" onclick='WeatherCurrentSlide(4)'></span>
						<span class="Weather-dot" onclick='WeatherCurrentSlide(5)'></span>
						<span class="Weather-dot" onclick='WeatherCurrentSlide(6)'></span>
						<span class="Weather-dot" onclick='WeatherCurrentSlide(7)'></span>
						<span class="Weather-dot" onclick='WeatherCurrentSlide(8)'></span>
						<span class="Weather-dot" onclick='WeatherCurrentSlide(9)'></span>
						<span class="Weather-dot" onclick='WeatherCurrentSlide(10)'></span>
						<span class="Weather-dot" onclick='WeatherCurrentSlide(11)'></span>
						<span class="Weather-dot" onclick='WeatherCurrentSlide(12)'></span>
						<span class="Weather-dot" onclick='WeatherCurrentSlide(13)'></span>
						<span class="Weather-dot" onclick='WeatherCurrentSlide(14)'></span>
						<span class="Weather-dot" onclick='WeatherCurrentSlide(15)'></span>
						<span class="Weather-dot" onclick='WeatherCurrentSlide(16)'></span>
						<span class="Weather-dot" onclick='WeatherCurrentSlide(17)'></span>
						<span class="Weather-dot" onclick='WeatherCurrentSlide(18)'></span>

					</div>
				</div>



			</div>
			<div class="left_video">
				<video autoplay loop muted preload="auto">
					<source th:src="@{/images/main_test/Travel Seoul in a Flash 720p.mp4}">
				</video>
			</div>
		</div>
		<div class="plan_content">
			<h2>여행기</h2>
			<div class="makeplan_top3">
				<div class="plan_top3" th:each="list : ${list}">
					<a class="divBox" id="divBox" th:href="">
						<img th:src="${list.image}">
						<span>
							<p th:text="${list.memo}"></p>
							<p th:text="${list.totalLikes}"></p>
						</span>
					</a>
				</div>
			</div>
		</div>
		<div class="destination_content">
			<h2>국내여행지</h2>
			<div class="destination_top3">
				<div class="dest_top3" th:each="top3 : ${page}">
<!--					<a class="top3_all" id="top3_all" th:href="@{|/destination_detail/${top3.destinationNo}|}">
						
					</a>-->
				</div>
			</div>
		</div>
	</div>


</main>

</html>