<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main/main_layout}">
<main layout:fragment="content">
<script type="text/javascript" th:src="@{/js/layer.js}"></script>
<script>
		window.addEventListener("DOMContentLoaded", function () {

			const button1El = document.getElementById("button2");
			button1El.addEventListener("click", function () {
				codefty.popup.open("/plan/makeplan2", "새 일정 만들기", 600, 500, true);
			});
			

		
			
			
		});
		
		function btn(){
		    alert('로그인 후 이용가능합니다.');
		}
		
	</script>



	<div class="main_view">
		<div class="start_content">
			<div class="right_text">
				<div class="all_text">
					<div class="first_text">
						국내 여행 스케줄 플래너
					</div>
					<div class="center_text">
						TourGo
					</div>
					<div class="last_text">
							<div th:if="${user}!=null">
						<button type="button" id="button2">새 일정 만들기</button>
						</div>
						<div th:unless="${user}!=null">
						<button type="button" onclick="btn()">새 일정 만들기</button>
						</div>
					</div>
				</div>
			</div>
			<div class="left_video">
				<video autoplay loop muted preload="auto">
					<source th:src="@{/images/main_test/popo.mp4}">
				</video>
			</div>
		</div>
		<div class="plan_content">
			<h2></h2>
		</div>
		<div class="destination_content">
			<div class="destination_top3">
				
			</div>
		</div>
	</div>
	

</main>

</html>