<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main/main_layout}">
<main layout:fragment="content">
	<div class="main_content">
		<div class="main_search">
			<div>
				<div class="banner">
					<input type="text" class="input_txt" placeholder="국내여행지 검색">
					<input type="button" class="input_btn" value="검색">
				</div>
				<video autoplay loop muted preload="auto" width="1850px" height="650px">
		          <source src="images/main_test/popo.mp4">
		        </video>
			</div>
		</div>
	</div>
	<div class="relative">
		<div class="bg-gray-100 py-10">
			<div class="main_menuAll">
				<div class="menu_content1">
					<!-- <div class="w-40 h-40 border border-black mb-3 rounded-full overflow-hidden"></div> -->
					<div class="context_1">
						<a th:href="@{travel_destination_main}">
							<img src="images/main_test/sub1.jpg" alt="">
							<div class="text-center">
								<h3 class="text-xl">국내여행지</h3>
							</div>
						</a>
					</div>
				</div>
				<div class="menu_content1">
					<!-- <div class="w-40 h-40 border border-black mb-3 rounded-full overflow-hidden"></div> -->
					<div class="context_1">
						<a th:href="@{date}">
							<img src="images/main_test/sub4.jpg" alt="">
							<div class="text-center">
								<h3 class="text-xl">여행만들기</h3>
							</div>
						</a>
					</div>
				</div>
				<div class="menu_content1">
					<!-- <div class="w-40 h-40 border border-black mb-3 rounded-full overflow-hidden"></div> -->
					<div class="context_1">
						<a th:href="@{/community/review_main}">
							<img src="images/main_test/sub6.jpg" alt="">
							<div class="text-center">
								<h3 class="text-xl">커뮤니티</h3>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 인기 여행지 view -->
	<div class="popular_content">
		<div class="">
			<h1>인기여행지</h1>
			<div class="pop_cont_lay">
				<div class="pop_cont_mg">
					<div>
						<a th:href="@{date}">
							<div class="pop_cont_txt">
								<label>param value</label>
							</div>
							<img src="images/main_test/sub4.jpg">
						</a>
					</div>
				</div>
				<div class="pop_cont_mg">
					<div class="pop_inner_mg">
						<a th:href="@{date}">
							<div class="pop_cont_txt">
								<label>param value</label>
							</div>
							<img src="images/main_test/sub4_1.jpg">
						</a>
					</div>
					<div class="pop_inner_mg">
						<a th:href="@{date}">
							<div class="pop_cont_txt">
								<label>param value</label>
							</div>
							<img src="images/main_test/sub4_1.jpg">
						</a>
					</div>
				</div>
				<div class="pop_cont_mg">
					<div class="pop_inner_mg">
						<a th:href="@{date}">
							<div class="pop_cont_txt">
								<label>param value</label>
							</div>
							<img src="images/main_test/sub4_1.jpg">
						</a>
					</div>
					<div class="pop_inner_mg">
						<a th:href="@{date}">
							<div class="pop_cont_txt">
								<label>param value</label>
							</div>
							<img src="images/main_test/sub4_1.jpg">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 인기여행일정 -->
	<div class="popular_date">
		<div>
			<h1>인기 여행 일정</h1>
			<div class="pop_date">
				<div class="pop_date_content1">
					<!-- <div class="w-40 h-40 border border-black mb-3 rounded-full overflow-hidden"></div> -->
					<div class="pop_img">
						<a th:href="@{main_view}">
							<img src="images/main_test/sub1.jpg" alt="">
							<div class="pop_text">
								<div class="p_t_left">
									<p>제목</p>
								</div>
								<div class="p_t_right">
									<p>조회수</p>
									<p>추천수</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="pop_date_content1">
					<!-- <div class="w-40 h-40 border border-black mb-3 rounded-full overflow-hidden"></div> -->
					<div class="pop_img">
						<a th:href="@{main_view}">
							<img src="images/main_test/sub1.jpg" alt="">
							<div class="pop_text">
								<div class="p_t_left">
									<p>제목</p>
								</div>
								<div class="p_t_right">
									<p>조회수</p>
									<p>추천수</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="pop_date_content1">
					<!-- <div class="w-40 h-40 border border-black mb-3 rounded-full overflow-hidden"></div> -->
					<div class="pop_img">
						<a th:href="@{main_view}">
							<img src="images/main_test/sub1.jpg" alt="">
							<div class="pop_text">
								<div class="p_t_left">
									<p>제목</p>
								</div>
								<div class="p_t_right">
									<p>조회수</p>
									<p>추천수</p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

</html>