<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main/main_layout}">
<main layout:fragment="content">
	<div class="main_view">
		<div class="start_content">
			<div class="left_video">
				<video autoplay loop muted preload="auto">
					<source th:src="@{/images/main_test/popo.mp4}">
				</video>
			</div>
			<div class="right_text">
				<div class="all_text">
					<div class="first_text">
						여행 스케줄 플래너
					</div>
					<div class="center_text">
						TourGo
					</div>
					<div class="last_text">
						<button>일정 모달 연결할 곳</button>
					</div>
				</div>
			</div>
		</div>
		<div class="plan_content">
			<h2></h2>
		</div>
		<div class="destination_content">
			<div class="destination_top3">
				
			</div>
		</div>
	</div>
</main>

</html>