<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/main}">
		<main layout:fragment="content">
			<div>회원 가입</div>
			
			<form name='frmSign' th:action="@{/main/signUp}">
				<div>이용약관에 대한 안내</div>
				<div>
					<textarea readonly="readonly">
						제1조(목적) 이 약관은 업체 회사(전자상거래 사업자)가 운영하는 업체 사이버 몰(이하 “몰”이라 한다)에서 제공하는 인터넷 관련 서비스(이하 “서비스”라 한다)를 이용함에 있어 사이버 몰과 이용자의 권리․의무 및 책임사항을 규정함을 목적으로 합니다.
	  					※「PC통신, 무선 등을 이용하는 전자상거래에 대해서도 그 성질에 반하지 않는 한 이 약관을 준용합니다.」
	 					...
					</textarea>
					<div class="input_check">
						<input type="checkbox" id="check1" name="check1" class='required'  title="이용약관"> 
						<label for="check1">위의 이용약관에 동의합니다.</label>
					</div>
				</div>
				<div>개인정보 수집 및 이용에 대한 안내</div>
				<div>
					<textarea readonly="readonly">
						개인정보처리방침
	
						[차례]
						1. 총칙
						2. 개인정보 수집에 대한 동의
						3. 개인정보의 수집 및 이용목적
						4. 수집하는 개인정보 항목
						...
					</textarea>
					<div class="input_check">
						<input type="checkbox" id="check2" name="check2" class='required' title="개인정보 수집 약관">
						<label for="check2">위의 개인정보 수집 및 이용에 대한 안내에 동의합니다.</label>
					</div>
				</div>
				<div class=check_all>
					<input type="checkbox" id="checkAll" name="checkAll" class="required" title=" 이용약관 및 개인정보 수집 및 이용에 대한 안내">
					<label for="checkAll">위의 이용약관 및 개인정보 수집 및 이용에 대한 안내에 동의합니다.</label>
				</div>
				<div>
					<button th:onclick="'location.href=\'' + @{/main/login} + '\''" type="button">취소</button>
					<button type="submit" class="next">확인</button>
				</div>
			</form>
			<script th:src="@{/js/main/sign.js}"></script>
		</main>
</html>