<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/main}">
	<main layout:fragment="content">
		<form id="signform" method="POST" th:action="@{/main/signUp}" th:object="${signRequest}">
		<div th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
			<div>회원가입</div>
				<div id="sign_form" class="form_01">
					<h3>
						기본정보
						<span class="req">
							필수입력사항
						</span>
					</h3>
					<div class="sign_table">
						<table>
							<colgroup>
								<col width="130">
								<col width="">
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">
										<label for="userId" class="req">아이디</label>
									</th>
									<td>
										<input type="text" name="userId" th:field="*{userId}" class="sign_input">
										<div th:each="err : ${#fields.errors('userId')}" th:text="${err}"></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<label for="userPw" class="req">비밀번호</label>
									</th>
									<td>
										<input type="password" name="userPw" th:field="*{userPw}" class="sign_input">
										<div th:each="err : ${#fields.errors('userPw')}" th:text="${err}"></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<label for="userPwRe" class="req">비밀번호 확인</label>
									</th>
									<td>
										<input type="password" name="userPwRe" class="sign_input">
										<div th:each="err : ${#fields.errors('userPwRe')}" th:text="${err}"></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<label for="userNm" class="req">이름</label>
									</th>
									<td>
										<input type="text" name="userNm" th:field="*{userNm}" class="sign_input">
										<div th:each="err : ${#fields.errors('userNm')}" th:text="${err}"></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<label for="birth" class="req">생년월일</label>
									</th>
									<td>
										<input type="text" name="birth" th:field="*{birth}" class="sign_input">
										<div th:each="err : ${#fields.errors('birth')}" th:text="${err}"></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<label for="email" class="req">이메일</label>
									</th>
									<td>
										<input type="text" name="email" th:field="*{email}" class="sign_input">
										<div th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<label for="mobile" class="req" >휴대전화</label>
									</th>
									<td>
										<input type="text" name="mobile" th:field="*{mobile}" class="sign_input">
										<div th:each="err : ${#fields.errors('mobile')}" th:text="${err}"></div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<label for="intro">자기소개</label>
									</th>
									<td>
										<textarea rows="5" cols="8" name="intro" th:field="*{intro}" class="sign_textarea">
										</textarea>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="btn_confirm">
						<button th:onclick="'location.href=\'' + @{/main/login} + '\''" type="button">취소</button>
						<button type="submit">확인</button>
					</div>
				</div>
		</form>
	</main>
</html>