<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		>
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/main/sign.css}">
	</head>
	<body>
		<form method="POST" th:action="@{/main/signUp}" th:object="${signRequest}">
			<div>회원가입</div>
				<div id="sign_form" class="form_01">
					<h3>
						기본정보
						<span class="req">
							필수입력사항
						</span>
					</h3>
					<div class="regi_table">
						<table>
							<tr>
								<th scope="row">
									<label for="reg_u_id" class="req">
										"아이디"
									</label>
								</th>
								<td>
									<input type="text" name="userId" th:field="*{userId}">
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label for="reg_u_pw" class="req">
										"비밀번호"
									</label>
								</th>
								<td>
									<input type="password" name="userPw" th:field="*{userPw}">
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label for="reg_u_pw_re" class="req">
										"비밀번호 확인"
									</label>
								</th>
								<td>
									<input type="password" name="userPwRe">
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label for="reg_u_nm" class="req">
										"이름"
									</label>
								</th>
								<td>
									<input type="text" name="userNm" th:field="*{userNm}">
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label for="reg_birth" class="req">
										"생년월일"
									</label>
								</th>
								<td>
									<input type="text" name="birth" th:field="*{birth}">
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label for="reg_email" class="req">
										"이메일"
									</label>
								</th>
								<td>
									<input type="text" name="email" th:field="*{email}">
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label for="reg_mobile" class="req">
										"휴대전화"
									</label>
								</th>
								<td>
									<input type="text" name="mobile" th:field="*{mobile}">
								</td>
							</tr>
							<tr>
								<th scope="row">
									<label for="reg_u_id">
										"자기소개"
									</label>
								</th>
								<td>
									<textarea rows="5" cols="8" name="intro" th:field="*{intro}"></textarea>
								</td>
							</tr>
						</table>
					</div>
					<div class="btn_confirm">
						<button th:onclick="'location.href=\'' + @{/main/login} + '\''" type="button">취소</button>
						<button type="submit">확인</button>
					</div>
				</div>
		</form>
	</body>
</html>