*{
	margin: 0; padding: 0;
}
html{
	font-size: 16px;
	background-color: #f0f8ff;
}
.font3{
	font-size: 3rem;
}
main.content{
	width: 980px;
	background-color: #fff;
	border: 1px solid black;
	margin: auto;
}
a{
	text-decoration: none;
}
th, td{
	border-bottom : 1px solid #808080;
}
.wrap{
	width: 100%;
	padding: 10px;
}
.top_nav a{
	width: 33.33333333%;
}