header {
	
	margin-top: 75px;
}

.nav_all {
	margin: 0;
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
	position: fixed;
	z-index: 10;
	top: 0px;
	left: 0;
	right: 0;
	height: 75px;
	padding: 1rem;
	align-items: center;
	box-shadow : 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%) !important;
}

.nav_all a {
	text-decoration: none;
	color: black;
	
}

.nav_all a:hover {
	color: gray;
}

.nav_home {
	margin: 0px 10px;
	font-size: 250%;
}

.nav_items {
	font-size: 150%;
	display: flex;
	align-items: center;
}
.nav_items>a{padding: 1rem;}

.nav_content {
	margin: 0px 20px;
}

.nav_log {
	font-size: 150%;
	display: flex;
	align-items: center;
}

.nav_log a {
	margin: 0px 10px;
}



/*dropdown*/
.nav_dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	margin-top: 1.4rem;
	width: 100%;
	z-index: 1;
	/*다른 요소들보다 앞에 배치*/
}
.dropbtn{padding: 1rem; padding-bottom: 2rem;}

.dropdown-content a {
	display: block;
	width: 100%;
	border-top: 2px solid #f2f2f2;
	padding:1rem;
}
.dropdown-content a:hover{background-color: #ddd;}

.nav_dropdown:hover .dropdown-content {
	display: block;
	color: gray;
	background-color: #fff;

}