

.nav_all {
	margin: 0;
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
	position: fixed;
	z-index: 10;
	top: 0px;
	left: 0;
	right: 0;
	height: 75px;
	padding: 1rem;
	align-items: center;
}

.nav_all a {
	text-decoration: none;
	color: black;
}

.nav_all a:hover {
	color: gray;
}

.nav_home {
	margin: 0px 10px;
	font-size: 250%;
}

.nav_items {
	font-size: 150%;
	display: flex;
	align-items: center;
}

.nav_content {
	margin: 0px 20px;
}

.nav_log {
	font-size: 150%;
	display: flex;
	align-items: center;
}

.nav_log a {
	margin: 0px 10px;
}



/*dropdown*/
.nav_dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	width: 100%;
	z-index: 1;
	/*다른 요소들보다 앞에 배치*/
}

.dropdown-content a {
	display: block;
	width: 100%;
	margin: 10px 0;
}

.nav_dropdown:hover .dropdown-content {
	display: block;
	color: gray;
}