html {
	background: #f0f8ff;
}
body{
	margin: 0;
	padding:0;
}

main {
	margin: 0px 20px;
}

.main_menuAll {
	display:flex;
	margin: 100px auto;
	justify-content: center;
}

.banner {
	z-index: 1;
	position: absolute;
    left: 35%;
    top: 45%;
}

.input_txt {
	width: 600px;
	height: 40px;
	font-size: large;
	
}

.input_btn {
	width: 60px;
	height: 45px;
}

.context_1 {
	margin: 0px 50px;
	align-items: center;
}

.context_1 a {
	text-decoration: none;
	color:skyblue;
}

.context_1 a:hover {
	color:royalblue;
}

.context_1 img:hover {
	opacity: 0.5;
}

.text-xl {
	text-align: center;
}

h1 {
	text-align: center;
}

.pop_cont_lay {
	display: flex;
	justify-content: center;
}

.pop_cont_mg {
	margin: 50px;
}

.pop_inner_mg {
	display: grid;
	gap: 10px;
}

.pop_cont_txt {
	position: absolute;
	font-size: 2rem;
}

.pop_date {
	display: flex;
	margin: 100px auto;
	justify-content: center;
}

.pop_img {
	margin: 0px 50px;
	align-items: center;
}

.p_t_left {
	float: left;
}

.p_t_right {
	float: right;
}