body {
	background-color: #fff;
	margin: 0;
	line-height: inherit;
}

main {
	position: relative;
	height: 100%;

}

.start_content {
	display: flex;
}

.left_video {
	overflow: hidden;
	height: 910px;
	width: 100%;
}

video {
	width: 100%;
	height: 910px;
	object-fit: fill;
	opacity: 0.5;
}

.right_text {
	width: 35%;
	position: relative;
}

/*이미지 오른쪽*/

.all_text {
	height: 910px;
	position: absolute;
	top: 15%;
	left: 40%;
	text-align: center;
}

.first_text {
	width: 400px;
	font-size: 2rem;
}

.center_text {
	font-size: 6rem;
	font-weight: bolder;
	color: #3f3f3f;
}

.last_text {
	margin: 10px 0;
}

.last_text button {
	padding: 30px 100px;
	font-size: 1rem;
	border: none;
	background-color: #98dde3;
	color: #fff;
	font-size: medium;
	border-radius: 5px;
}

.last_text button:hover {
	background-color: #98d0e3;
}

.Weather-slideshow-container {
	justify-content: center;
	margin: 20px 0 0 0;
}

.link_page {
	margin: 5rem;
}

.link_page a {
	text-decoration: none;
	color: #3f3f3f;
}

.plan_content {
	text-align: center;
	margin: 20px;
}

.makeplan_top3 {
	display: flex;
	margin: 50px 0px;
	justify-content: center;
}

.plan_top3 {
	width: 340px;
	height: 480px;
	margin: 0px 5rem;
	box-shadow: rgb(31 38 135 / 20%) 0px 8px 32px 0px !important;
}

.plan_top3 img {
	width: 340px;
	height: 400px;
}

.destination_content {
	text-align: center;
	margin: 20px 20px 60px 20px;
}

.destination_top3 {
	display: flex;
	margin: 50px 0px;
	justify-content: center;
}

.dest_top3 {
	width: 340px;
	height: 480px;
	margin: 0px 5rem;
	box-shadow: rgb(31 38 135 / 20%) 0px 8px 32px 0px !important;
}

.dest_top3 img {
	width: 340px;
	height: 400px;
}