<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}">

<main layout:fragment="content">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
	<script>
	window.addEventListener("DOMContentLoaded", function() {
		const button1El = document.getElementById("button1");
		const button2El = document.getElementById("button2");
		button1El.addEventListener("click", function() {
		
			codefty.popup
				.setCallback(function() {

				})
				.open("../ex02", "제목!", 500, 400);
						
		});
		
		button2El.addEventListener("click", function() {
			codefty.popup.open("../ex02", "제목!", 300, 400, true);
		});
	});
	</script>
	<button type="button"id="button1">버튼</button>
	<button type="button"id="button2">버튼</button>
	
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
		<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
		<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
		<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
	<p>ddddddd</p>
</main>
</html>