@charset "UTF-8";

.header {
	float: left;
}

.header_nav {
	margin-left: 40px;
}

.nav_all {
	width: 250px;
}

a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #fff;
	text-align: center;
}

.nav_bar {
	padding: 30px;
	margin: 30px 10px 50px 10px;
	background: #424242;
}

.nav_link {
	margin: 30px 10px;;
	padding: 18px;
	background: lightgray;
}

.nav_link:hover {
	background: gray;
}