<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<head>
		<meta charset="UTF-8">
		<title th:text="${siteTitle}">TourGO</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/newCommon.css}">
		<link th:href="@{/css/main/header.css}" rel="stylesheet" type="text/css">
		<link th:href="@{/css/main/mainPage.css}" rel="stylesheet" type="text/css">
		<link th:href="@{/css/main/footer.css}" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" th:each="css:${addCss}" th:href="@{/css/{css}.css(css=${css})}">
		
		<script th:src="@{/js/common.js}"></script>
		<script th:each="script : ${addScript}" th:src="@{/js/{js}.js(js=${script})}"></script>
		<!-- added by Hyun -->
		<script src="https://kit.fontawesome.com/c89215f053.js" crossorigin="anonymous"></script>

	</head>
	<body>
		<header th:replace="outlines/header::header"></header>
		<main layout:fragment="content"></main>
		<footer th:replace="outlines/footer::footer"></footer>
		<iframe id="ifrmProcess" name="ifrmProcess" class='dn'></iframe>
	</body>
</html>