<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
		<!-- 커뮤니티/여행후기 css -->
		<th:block layout:fragment="community_css"></th:block>
		
		<script th:src="@{/js/common.js}"></script>
		<!-- 커뮤니티/여행후기 js -->
		<th:block layout:fragment="community_common"></th:block>
	</head>
	<body>
		<header th:replace="outlines/header::header"></header>
		<main layout:fragment="content"></main>
		<footer th:replace="outlines/footer::footer"></footer>
	</body>
</html>