<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
		layout:decorate="~{admin/main}">
		
		<main layout:fragment="content">
			<div class="container-fluid">
				<div class="board-title">회원 관리</div>
				<div class="row">
	        		<div class="col-12">
			            <div class="card shadow mb-4">
			                <div class="question card-header py-3 justify-content-between">
			                    <h6 class="m-0 font-weight-bold text-primary">회원 목록</h6>
			                	<form method="GET" id="searchForm" name="searchForm" th:href="@{/admin/user/userManage}" th:object="${searchRequest}" class="d-flex">
									<select id="selectBox" class="form-control">
										<option value="">전체</option>
										<option value="userId" th:selected="*{searchType} == 'userId'">아이디</option>
										<option value="userNm" th:selected="*{searchType} == 'userNm'">이름</option>
									</select>
									<input type="hidden" name="searchType" id="searchType" th:value="*{searchType}">
									<input type="text" name="searchKeyword" id="searchKeyword" class="form-control" placeholder="입력" th:value="*{searchKeyword}">
									<button type="submit" class="btn btn-outline-success">
										<i class="fa-solid fa-magnifying-glass"></i>검색
									</button>
								</form>
			                </div>
			                <div class="card-body">
			                	<div class="row">
				                	<table class="col table table-striped table-bordered table-hove">
				                		<thead>
					                		<tr class="text-center">
					                			<th>번호</th>
					                			<th>아이디</th>
					                			<th>이름</th>
					                			<th>생년월일</th>
					                			<th>이메일</th>
					                			<th>휴대전화번호</th>
					                			<th>생성일</th>
					                			<th>수정일</th>
					                		</tr>
					                	</thead>
					                	<tbody>
					                		<th:object th:with="total=${list.totalElements}, size=${list.size}, pageNum=${list.pageable.pageNumber}">
					                		<tr th:each="list, index : ${list.content}" class="text-center"> <!-- th:each 사용 -->
					                			<td th:text="${total - (pageNum * size + index.index) }"></td>
					                			<td th:text="${list.userId}"></td>
					                			<td th:text="${list.userNm}"></td>
					                			<td th:text="${list.birth}"></td>
					                			<td th:text="${list.email}"></td>
					                			<td th:text="${list.mobile}"></td>
					                			<td th:text="${#temporals.format(list.regDt,'yyyy-MM-dd HH:mm')}"></td>
					                			<td th:text="${#temporals.format(list.modDt,'yyyy-MM-dd HH:mm')}"></td>
					                		</tr>
					                		</th:object>
					                	</tbody>
				                	</table>
			                	</div>
			                	<th:block th:replace="admin/outlines/pagination::pagination"></th:block>
			                </div>
			            </div>
	        		</div>
	        	</div>
	        	
			</div>
		</main>
</html>