*{
	box-sizing: border-box;

}

.button-event{ display:block;
      		  cursor: pointer;      
      		  border-radius: 0;
      		  transition:all 0.9s, color 0.5s;   
    			 height: 100%;}
    
.button-event:hover, .daydiv input[type=radio]+label:hover{color:#ddd; box-shadow: 200px 0 0 0 rgba(255,255,255,0.25) inset, 
                   -200px 0 0 0 rgba(255,255,255,0.25) inset; }

  
 
.img-event{
    width: inherit;
    height: 300px;
    object-fit: cover;
  
}
#frm{ height: 100%; ; box-sizing: border-box; display: flex; flex-grow: 1;}
#frm a{text-decoration: none;}
.api_list label{width: 100%; }    
.forImage{width: 100%;overflow: hidden; height: 300px;}
.flex-grow-1{flex-grow: 1;}
.flex-grow-2{flex-grow: 2;}
.border{border: 1px solid #fff;}
#map{
	width:100%; height:100%;
}

#map img{width: auto; height: auto;}
#map .imgview{
	pointer-events: none;
	width: 100%;
    height: 300px;
}
.font_size_2rem{font-size: 10rem;}
.width100{width: 100%;}
.left_items{
	height: 100%; width: 20%; display: grid;grid-template-rows: 1fr 1fr;
}


.list{display:grid; grid-template-columns: 1fr 3fr;}
.left_items{height: 70%;}

.test{
	width: inherit;
	text-align:center;

}
#clickItem{
	margin-bottom:20px;
	margin-top:20px;
	width:100px;
	height:50px;
	border-radius: 30px;

}


.selected{
	margin: 10px 0;
	padding:5px;
	
	
	width: inherit;

}


.add{
font-size:14px;
}




.container_top{width: 100%; height: 5rem; display:flex; margin-bottom: 10px;  margin-top: 4rem;   justify-content: space-between;}

.search{width: 50%;}
.top_container_left{width:55%; height : 100%;overflow: hidden; }

.saveNclose{width:50%;}	

.save_btn{ width:200px; height:100%; }
.close_btn{height: 100%;}

.container_bottom{display:flex; width:100%; height:1000px;}
.day{width: 10%; display:flex;    flex-direction: column; margin-right: 5px;}
.list{ margin-right:5px;width: 20%; display:flex;    flex-direction: column;overflow:auto; -ms-overflow-style: none;align-items: center;}
.api_list{margin-right:5px;   width:25%;display:flex;    flex-direction: column; 	overflow:auto; -ms-overflow-style: none;align-items: center;}
.map_container{ height:1000px; width:45%; margin-left: auto; display:flex;}

.api_list::-webkit-scrollbar{
  display:none;
}
.list::-webkit-scrollbar{
  display:none;
}


.selected_items{width:100%;  text-align: center;}
.selected_day{width:100%; text-align: center;}

.x_button{text-align: right;}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.material-icons.md-36 { font-size: 36px; }

.daydiv {
    padding: 15px 10px;
}
.daydiv input[type=radio]{
    display: none;

    
}
.daydiv input[type=radio]+label{
	 transition:all 0.9s, color 0.5s; 
    display: inline-block;
    cursor: pointer;
    height: 50px;
    width:100%;
    border: 1px solid #333;
    line-height: 48px;
    text-align: center;
    font-weight:bold;
    font-size:13px;
    background-color: #fff;
    color: #333;
    background: none;
    padding: 0;
    
}

.daydiv input[type=radio]:checked+label{
    background-color: #98dde3;;
    color: #fff;
    padding: 0;
}
.searchbar{
	text-align:cetner
}




