* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}




.titleview { 
	background: #f5f5f5;
}




.width-30_w {
	width: 200px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	padding-right: 10px;
	background-color: #66ccd4;
	line-height: 2.3;
	padding:0.5rem;
	color:#ffffff;


}
.width-70_w {
	width:100%;
	
	font-size: 20px;
	background-color: #ffffff;
	line-height: 2.3;


}



.form-group {
	margin-bottom: 0.5rem;
	border-radius: 6px;
	border:1px solid #66ccd4;
	background: #ffffff;
		display: flex;
	align-items: center;
	
	
}


.daydiv{
	width:50%;
}

.daydiv2{
	width:20%;
}

.daydiv input[type=radio]+label{
	 transition:all 0.9s, color 0.5s; 
    display: inline-block;
    cursor: pointer;
    height: 61px;
    width:100%;
    line-height: 61px;
    text-align: center;
    font-weight:bold;
    background-color: #98dde3;
    color: #fff;
  	font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.daydiv input[type=radio]:checked+label{
    background-color: #4d797c;
    color: #ddd;
    padding: 0;
    box-shadow: none;
}

 .daydiv input[type=radio]{
    display: none; 

    
}
.radiobox{
	display:flex;
}

.daydiv2 input[type=radio]+label{
	 transition:all 0.9s, color 0.5s; 
    display: inline-block;
    cursor: pointer;
    height: 61px;
    width:100%;
    line-height: 41px;
    text-align: center;
    font-weight:bold;
    background-color: #98dde3;
    color: #fff;
  	font-size: 1.5rem;
  	padding: 0.5rem;
    font-family: 'Montserrat', sans-serif;
}

.daydiv2 input[type=radio]:checked+label{
    background-color: #4d797c;
    color: #ddd;
    padding: 0;
    box-shadow: none;
}
 .daydiv2 input[type=radio]{
    display: none; 
}
.titleinput{
	width:100%;
    height: 100%;
    padding: 1rem;
    border:none;
    font-size:1rem;
    background-color:#ffffff;
}
.dateinput{
    height: 100%;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    padding: 1rem;
    font-size: 1.3rem;
    background-color:#ffffff;
}

.makebutton{
    width: 50px;
    height: 50px;
    float:right;
}

.width-70_w >textarea{
	resize: none;vertical-align: middle; width: 100%;height: 50px;
}