* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.b_input {
	display: flex;
	justify-content: flex-end;
}

.flex {
	display: flex;
}

.width-30 {
	width: 200px;
	text-align: right;
	font-weight: bold;
	font-size: 20px;
	padding-right: 10px;
}

.plannerview {
	text-align: center;
	overflow: scroll;
	height: 600px;
	-ms-overflow-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.plannercontent {
	width: 400px;
	padding: 20px;
	background-color: aqua;;
	margin-bottom: 40px;
	border: 1px solid aqua;
	border-radius: 20%;
	display: inline-block;
}

.plannerview::-webkit-scrollbar {
	display: none;
}

.width-70 {
	width: 70%;
	font-size: 20px;
}

.b_click {
	height: 50px;
	width: 50px;
	cursor: pointer;
	margin-right: 20px;
}

.form-group {
	margin-bottom: 15px;
}

.plantitle {
	font-size: 20px;
	font-weight: bold;
}

.allviewpage {
	display: flex;
	justify-content: center;
}

.plannercontent img {
	width: 200px;
	height: 150px;
}