/*----------날씨카드슬라이드---------- */
* {
	margin: 0;
	padding: 0;
}

.marginLeft-5 {
	margin-left: 5%;
}

.align-Colum1 {
	display: flex;
	/*    flex-direction: column;*/
}

.align-Colum {
	width: 200px;
}

.paddingTop-10 {
	/*    padding-top: 10%;*/
}

.align-Center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Weather {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Weather-slideshow-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.Weather-Slides {
	/*    border-radius: 5%;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);*/
}

.Weather-prev,
.Weather-next {
	display: flex;
	align-content: center;
	cursor: pointer;
	width: auto;
	margin-top: 150%;
	padding: 20px;
	color: #5B86EF;
	font-weight: bold;
	font-size: 30px;
	transition: .6s ease;
	border-radius: 0 3px 3px 0
}

.Weather-next {
	border-radius: 3px 3px 3px 3px
}

.Weather-prev {
	border-radius: 3px 3px 3px 3px
}

.Weather-prev:hover,
.Weather-next:hover {
	color: black;
}



.Weather-dot:hover {
	background-color: black;
}

.BorderRound {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 180px;
	background: #5B86EF;
	color: white;
	border-radius: 10px;
	padding: 5px;
	margin: 5%;
}

.textcenter {
	text-align: center;
	margin:0;
	border-radius: 0;
}

.weatherview {

	text-align: right;
}

.view {

	display: grid;
	grid-template-columns: repeat(3, 400px);
	place-content: center;
	justify-items: center;
	margin-bottom: 40px;
}

.buttons {
	margin-top: 70px;
	width: 300px;
	box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.formview {
	margin-top: 70px;
	display: flex;
	justify-content: center;



}

.bold {
	color: red;
}

#button2 {
	float: right;
	padding: 10px;
	font-size: 15px;
	border: 1px solid #7cd5dc;
	margin-right: 100px;
	margin-bottom: 10px;
	border-radius: 7px;
	color: #ffffff;
	cursor: pointer;
	border: none;
}

.searchbar {
	font-size: 12px;
	width: 325px;
	padding: 10px;
	border: 0px;
	outline: none;
	float: left;


}

.seachbutton {

	width: 50px;
	height: 100%;
	border: 0px;
	outline: none;
	float: right;
	color: #ffffff;
	cursor: pointer;
	border-radius: 0px;
}

.view a {
	color: black;

}

.img-event {
	width: inherit;
	height: 300px;
	object-fit: cover;
}


.searchbarview {
	width: 400px;
	border: 1px solid #7cd5dc;
	background: #ffffff;
}

.plannerview {
	background-color: #1b5ac2;
}

.view a {
	text-decoration: none;
}

.overflow {
	overflow: hidden;
	width: 100%;
	height: 300px;
}
.titlebox{
	background-color:#7cd5dc;
}
.titlebox span{
	color:white;
	padding:10px;
}
.padding-1{
	padding-top: 1rem;
    padding-bottom: 1rem;
}
