<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/main}">
	
	<main layout:fragment="content" class="content">
		<!-- 커뮤니티 공통 상단 네비바 -->
		<th:block th:replace="outlines/community_top:: community_top"></th:block>
		
		<div class="marginTop150"></div>
				
		<!-- 공지 내용 -->
		<div class="wrap centerW">
			<table class="communityT marginAuto" th:object="${notice}">
				<tr>
					<th scope="row">제목</th>
					<td th:text="*{noticeTitle}"></td>				
				</tr>
				<tr>
					<td colspan="2" align="right">
						<span class="marginRight20" th:text="*{user.userNm}"></span>
						<span th:text="*{#temporals.format(regDt, 'yyyy-MM-dd HH:mm')}">작성일</span>
					</td>
				</tr>
				<tr>
					<td colspan="2" align="left" th:utext="*{noticeContent}">내용</td>
				</tr>
			</table>
		<div class="marginTop30"></div>
		<button class="btn1 width25" th:onclick="|location.href='@{/community/notice_main}'|" type="submit">목록</button>
		</div>
	</main>

</html>