<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{layouts/main}">
	
	<main layout:fragment="content">
		<th:block sec:authorize="isAnonymous()">
		<div>로그인</div>
		<div class="alert alert-error" th:if="${param.error}">
			<span th:text="${exception}"></span>
		</div>
		<form method="post" id="loginForm" name="loginForm" th:action="@{/user/loginProc}" autocomplete="off">
			<div>
				<div th:text="#{user.userId}"></div>
				<input type="text" name="userId" id="userId">
			</div>
			<div>
				<div th:text="#{user.userPw}"></div>
				<input type="password" name="userPw" id="userPw">
			</div>
			<div>
				<input type="checkbox" name="idCheck" id="idCheck"><label for="idCheck">아이디 저장</label>
			</div>
			<div>
				<button type="button" th:text="#{user.login}" onclick="loginProcess()"></button>
			</div>
		</form>
		</th:block>
	</main>
</html>