<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}">
	
	<main layout:fragment="content">
		<form method="post" th:action="@{/main/login}" th:object="${loginRequest}" autocomplete="off">
			<div>로그인</div>
			<div>
				<div th:text="#{user.userId}"></div>
				<input type="text" name="userId" th:field="*{userId}">
				<div th:each="err : ${#fields.errors('userId')}" th:text="${err}"></div>
			</div>
			<div>
				<div th:text="#{user.userPw}"></div>
				<input type="password" name="userPw" th:field="*{userPw}">
				<div th:each="err : ${#fields.errors('userPw')}" th:text="${err}"></div>
			</div>
			<div>
				<button type="submit" th:text="#{user.login}"></button>
			</div>
		</form>
	</main>
</html>