<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}">
	
	<main layout:fragment="content">
		<div>로그인</div>
		<div th:if="${param.error}">
			<span th:text="${exception}" style="background-color: red;"></span>
		</div>
		<form method="post" th:action="@{/user/loginProc}" autocomplete="off">
			<div>
				<div th:text="#{user.userId}"></div>
				<input type="text" name="userId" id="userId">
			</div>
			<div>
				<div th:text="#{user.userPw}"></div>
				<input type="password" name="userPw" id="userPw">
			</div>
			<div>
				<button type="submit" th:text="#{user.login}"></button>
			</div>
		</form>
	</main>
</html>