<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>지도 생성하기</title>
      
    <link th:href="@{/css/plan/makePlan.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>



<div class="container_top">
<div class="whether">
<div style="width: 100% ; height: 100%; text-align : center">
<span>
날씨배너
</span>
</div>
</div>

<div class="search">


<div class="search_input">
<input id="keyword" type="text" placeholder="입력하세요" style="width:100%; height:100%; font-size : 20px; padding : 0;">
</div>
</div>
<div class="search_button">
<button type="button" onclick="tourGo.search()" style="width:100%; height: 100%;">
<span class="material-symbols-outlined" style="font-size: 50px;">search</span>
</button>
</div>

<div class="bookmark">
<button type="submit" style="width:100%; height: 100%;">
<span class="material-symbols-outlined" style="font-size: 50px;">star</span>
</button>
</div>
<div class="saveNclose"> 
<form th:action="@{/plan}" method="post">
<button type="submit" class="save_btn">save</button>
<a th:href="@{/plan}">
<span class="material-symbols-outlined" style="font-size : 100px; float:right;">
close	
</span>
</div>
</a>
</div>

<div class="container_bottom">

<div class="day">


<div th:each =" day,status : ${test}">
<input type="radio" th:id ="${day}" th:value="${status.count}" name="day" th:checked="${status.index == 0 ? 'true':'false'}" onclick="planner.loadSelection()">
<label th:for="${day}" th:text="${day}">
</div>


</div>

<div class="list">

<div class="selected_items">
<span>123</span>

	<div th:if="${list != null}">
	<div th:each="${details : list}">
	
	<span name="title" th:value="${datails.title}"></span>

	<span name="address" th:value="${datails.address}"></span>
	
	</div>
	</div>	
	
	
</div>






<div>
    <ul></ul>
</div>
</div>


  
</div>


<div class="api_list">

</div>
<div class="map_container"><div id="map"></div></div>

</form>
</div>


<!-- 지도를 표시할 div 입니다 -->
</div>






<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5cf0f012351259a60d2d7388a32df3af"></script>
<!--<script type="text/javascript" th:src="@{js/plan/makePlan/kakaoMap.js}"></script>-->
<script type="text/javascript" th:src="@{/js/plan/makePlan/ajax_loader.js}"></script>
<script type="text/javascript" th:src="@{/js/plan/makePlan/makeDetails.js}"></script>

<script type="text/html" id='tpl_selectedItems'>
	<li id='contentId_<%=id%>'>
		
		<img src="<%=firstimage>"></img>
		<div><%=title%></div>
		<div><%=address%></div>
		
		<button type="button" class="remove">[삭제]</button>
			
		          
		      	
		      		  	
	</li>
	
</script>

</body>
</html>