<!DOCTYPE html>
<html lang="ko" class="hihi" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Modal</title>
    <link th:href="@{/css/plan/makeDate.css}" rel="stylesheet" type="text/css">
    <head>
<style>

 </style>   


    </head>
  </head>
  <body>


    
    <form method="post" th:action="@{/plan/makeDetails}" th:object="${plannerRq}">
    <div class="border">
    	
        <div class="flex">  
      
          <div class="title">
              <lable>여행제목</lable>
    
          </div>
          
          <div class="input_view">

    
              <input class="title_input" type="text"th:field="*{title}">
			<div class='error' th:each="err : ${#fields.errors('title')}" th:text="${err}"></div>	
            
          </div>
          </div>
      

          <div class="flex">  
            <div class="title">
            <label>  여행기간 </label>
                </div>
            <div class="dateview">
     <label><input type="date" name="sdate"></label>
       <select name="day">

    <option value="1">1일</option>
    <option value="2">2일</option>
    <option value="3">3일</option>	
    <option value="4">4일</option>
    <option value="5">5일</option>
    <option value="6">6일</option>
    <option value="7">7일</option>
    <option value="8">8일</option>
    <option value="9">9일</option>

</select>
			<div class='error' th:each="err : ${#fields.errors('sdate')}" th:text="${err}"></div>
            </div>
          </div>

        <div class="flex">  
      
          <div class="title">
              <label>여행타입</label>
    
          </div>
          
          <div class="input_view">
              <label><input type="radio" name="planType" value="SOLO">나홀로 여행</label>
              <label><input type="radio" name="planType" value="COUPLE">연인/커플</label>
              <label><input type="radio" name="planType" value="FRIENDS">친구/지인</label>
              <label><input type="radio" name="planType" value="PARENTS">부모님</label>
              <label><input type="radio" name="planType" value="FAMILY">가족</label>
          </div>
          <div class='error' th:each="err : ${#fields.errors('planType')}" th:text="${err}"></div>	
          </div>
          <div class="flex">  
            <div class="title">
                <label>여행인원</label>
            </div> 
            <div class="input_view">
	<select name="planSize">

    	<option value="1">1명</option>
    	<option value="2">2명</option>
    	<option value="3">3명</option>
    	<option value="4">4명</option>
   	 	<option value="5">5명</option>
   	 	<option value="6">6명</option>
    	<option value="7">7명</option>
    	<option value="8">8명</option>
    	<option value="9">9명</option>

</select>

            </div>

            </div>
            <div class="flex">  
      
              <div class="title">
              <label>사용자 정의 메모</label>
                  
        
              </div>
              
              <div class="dateview">
     
    
                <textarea name="memo" class="autosize" maxlength="250" onkeydown="resize(this)" onkeyup="resize(this)" placeholder="추가 바람" style="vertical-align: middle; width: 100%; "></textarea>

              </div>
              
              
              </div>
            
    </div>
    



<div style="position: absolute; right: 0px; bottom: 0px;">
  <button style=" margin: 0 30px;" type="submit">일정 만들기</button>
  <button style=" margin: 0 30px;" data-dismiss="modal">창닫기</button></div>
</form>


    
    <script>
      function resize(obj) {
        obj.style.height = "1px";
        obj.style.height = 100%+(obj.scrollHeight)+"px";
      }
      </script>
  </body>
</html>
