<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}">
	<main layout:fragment="content">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
			<link th:href="@{/css/plan/readwrite.css}" rel="stylesheet" type="text/css">
		<script src="https://kit.fontawesome.com/fda51a19be.js" crossorigin="anonymous"></script>
		
		<input type="hidden" id="plannerNo" th:value="${planner.plannerNo}">
		<span th:text="${planner.plannerNo}"></span>
		<div class="flex form-group">
			<div class="width-30">
				<span>여행제목</span>
			</div>
			<div class="width-70">
				<span th:text="${planner.title}"> </span>
			</div>
		</div>


		<div class="flex form-group">
			<div class="width-30">
				여행기간
			</div>
			<div class="width-70">
				<span th:text="${planner.sdate}"></span> ~ <span th:text="${planner.edate}"> </span>
			</div>
		</div>

		<div class="flex form-group">
			<div class="width-30">
				여행타입
			</div>
			<div class="width-70">
				<span th:text="${planner.planType}"> </span>
			</div>
		</div>

		<div class="flex form-group">
			<div class="width-30">
				여행인원
			</div>
			<div class="width-70">
				<span th:text="${planner.planSize}"> </span>
			</div>
		</div>

		<div class="flex form-group">
			<div class="width-30">
				메모
			</div>
			<div class="width-70">
				<span th:text="${planner.memo}"> </span>
			</div>
		</div>
			
			
					<div class="flex form-group">
			<div class="width-30">
				<label class=title>공개여부</label>
			</div>
			<div class="width-70">
				<span th:if="${planner.open.toString().equals('true')}">	
				공개
			</span>
			</div>
		</div>
		
				<div class="flex form-group">
			<div class="width-30">
				조회수
			</div>
			<div class="width-70">
				<span th:text="${planner.PlannerRead}"> </span>
				
			</div>
		</div>
		
	</div>
			<span class="liked">
				<input th:if="${like}" type="hidden" id="uid" th:value="${like.uid}">
				<i class="fa-regular fa-heart toggleLiked" th:classappend="${user == null }? 'login_required' : ''"></i>
			</span>
			<span>좋아요</span> <span th:text="${planner.totalLikes}" id="totalLikes"></span> <br>
			<br>
			<br>
		
				<th:block th:each="li,status : ${list}" th:object="${li}">
		<span th:text="*{title}"></span> <br>
		<img style="width:50px; height:50px"th:src=*{firstimage}>
		<span th:text="*{stime}"></span> <br>
		<span th:text="*{etime}"></span> <br>
		<span th:text="*{address}"> </span> <br>
		<span th:text="*{day}"> </span> <br>
		------------------------------------------------------------<br>
		
		</th:block>
	
			
	
	
	
	
	
	
	
	
	
	
	
	<script type="text/javascript" th:src="@{/js/plan/makePlan/like.js}"></script>








	</main>
	

</html>