OCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}">

<main layout:fragment="content">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
	<link th:href="@{/css/plan/weather.css}" rel="stylesheet" type="text/css">

	<head>
		<style>

		</style>
	</head>
	﻿	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" th:src="@{/js/plan/makePlan/weather.js}"></script>

	<script>
		window.addEventListener("DOMContentLoaded", function () {


			const buttonEls = document.getElementsByClassName("buttons");
			for (const el of buttonEls) {
				el.addEventListener("click", function () {
					const v = el.dataset.no;
					console.log(v);
					codefty.popup.open(`/plan/readplan/` + v, "", 550, 800, true);
				});
			}
			/**
				button1El.addEventListener("click", function() {
				
				console.log(button1El);
			
		codefty.popup.open("plan/readplan", "", 600, 800, true);
		//	codefty.popup
		//		.setCallback(function() {
///
		//		})
			//	.open("../ex02", "제목!", 500, 400);
						
		});
		*/





			const button2El = document.getElementById("button2");
			button2El.addEventListener("click", function () {
				codefty.popup.open("/plan/makeplan2", "새 일정 만들기", 600, 500, true);
			});
		});
	</script>

	<div style="border: 1px solid red; text-align:right;">
		 <div class="Weather">
        <div class="Weather-slideshow-container">
            <div>
                <!--<a class="Weather-prev" onclick='WeatherPlusSlides(-1)'>&#10094;</a>-->
            </div>

            <div class="align-Colum1 align-Center">
                <div class="BorderRound Tmoney-fontsize-150">
                <span class="nowtime"></span>
                <span class="marginLeft-5">현재날씨</span>
                </div>

                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">춘천</span>
                        <span class="ChuncheonIcon"></span>
                        <span class="ChuncheonNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>

                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">강릉</span>
                        <span class="GangneungIcon"></span>
                        <span class="GangneungNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>

                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">원주</span>
                        <span class="WonjuIcon"></span>
                        <span class="WonjuNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>

                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">서울</span>
                        <span class="SeoulIcon"></span>
                        <span class="SeoulNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>
                
                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">인천</span>
                        <span class="IncheonIcon"></span>
                        <span class="IncheonNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>

                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">청주</span>
                        <span class="CheongjuIcon"></span>
                        <span class="CheongjuNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>

                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">대전</span>
                        <span class="DaejeonIcon"></span>
                        <span class="DaejeonNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>

                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">안동</span>
                        <span class="AndongIcon"></span>
                        <span class="AndongNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>

                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">대구</span>
                        <span class="DaeguIcon"></span>
                        <span class="DaeguNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>

                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">울산</span>
                        <span class="UlsanIcon"></span>
                        <span class="UlsanNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>
                
                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">창원</span>
                        <span class="ChangwonIcon"></span>
                        <span class="ChangwonNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>
                
                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">부산</span>
                        <span class="BusanIcon"></span>
                        <span class="BusanNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>
                
                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">전주</span>
                        <span class="JeonjuIcon"></span>
                        <span class="JeonjuNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>
                
                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">목포</span>
                        <span class="MokpoIcon"></span>
                        <span class="MokpoNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>
                
                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">광주</span>
                        <span class="GwangjuIcon"></span>
                        <span class="GwangjuNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>
                
                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">여수</span>
                        <span class="YeosuIcon"></span>
                        <span class="YeosuNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>
                
                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">제주</span>
                        <span class="JejuIcon"></span>
                        <span class="JejuNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>
                
            </div>

            <div>
             <!--   <a class="Weather-next" onclick='WeatherPlusSlides(1)'>&#10095;</a>-->
            </div>

        </div>
        <br>
        <div style='text-align: center;'>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(1)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(2)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(3)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(4)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(5)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(6)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(7)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(8)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(9)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(10)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(11)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(12)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(13)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(14)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(15)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(16)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(17)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(18)'></span>
            
        </div>
    </div>
		
<!--		날씨 api-->
		
		
		
		<button type="button" id="button2">버튼</button>
	</div>

	<div
		style="border: 1px solid blue; display: grid; grid-template-columns: repeat(3,450px); place-content: center;grid-column-gap: 100px;">
		<th:block th:each="li,status : ${list}" th:object="${li}">

			<!--    <div th:id="'ex'+${status.count}" style="border:1px solid green;">-->
			<div th:class="buttons" style="border:1px solid green; cursor: pointer;margin-top:70px"
				th:data-no="*{plannerNo}">
				<img style="max-width: 450px;" th:src="@{/images/main_test/sub4.jpg}"> <br>
				<span th:text="*{plannerNo}"> </span>
				<span th:text="*{title}"> </span>
				<input type="hidden" th:name="test" th:value="*{plannerNo}" />
			</div>

		</th:block>
	</div>

	<div style="text-align: center;">
		<th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
		<a th:if="${page != nowPage and page>0}" th:href="@{/plan/(page = ${page - 1})}" th:text="${page}"></a>
		<strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong>
	
	</th:block>
	</div>


	<form th:action="@{/plan/}" method="get">
	
	<input type="text" name="searchKeyword">
	<button type="submit">검색</button>
	</form>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item th:classappend=disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item">
    <a class="page-link" th:href="@{plan/plannerallview}">1</a></li>
    <li class="page-item">
    <a class="page-link" href="#">2</a></li>
    <li class="page-item">
    <a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>




</main>

</html>