<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}">

<main layout:fragment="content">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
	<script>
	window.addEventListener("DOMContentLoaded", function() {
		const button1El = document.getElementById("button1");
		
		
		
		const button2El = document.getElementById("button2");
		button1El.addEventListener("click", function() {
		codefty.popup.open("plan/readplan", "", 600, 800, true);
		//	codefty.popup
		//		.setCallback(function() {
///
		//		})
			//	.open("../ex02", "제목!", 500, 400);
						
		});
		
		button2El.addEventListener("click", function() {
			codefty.popup.open("plan/makeplan2", "새 일정 만들기", 600, 400, true);
		});
	});
	</script>
	
<tr th:each="list : ${list}">
    <td th:text="${user.username}">username</td>
    <td th:text="${user.age}">0</td>
</tr>

	
	</th:each>
	
	
	
	<button type="button"id="button1">버튼</button>
	<button type="button"id="button2">버튼</button>
</main>
</html>