<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}">

<main layout:fragment="content">
	<link th:href="@{/css/plan/weather.css}" rel="stylesheet" type="text/css">﻿



<div class="view">
	<th:block th:each="li,status : ${list}" th:object="${li}">


		<a th:href="@{/plan/plannerallview_page/}+*{plannerNo}">
			<div th:class="buttons" th:data-no="*{plannerNo}">
			<div class="overflow">
				<img class="img-event"
					th:src="*{image}"onerror="this.onerror=null; this.src='../../../../images/noimg.jpg';">
					</div>
					<div class="textcenter btn0 padding-1">
					<span th:text="*{title}" style="font-size:1.5rem"> </span> 
					</div>
					<input type="hidden" th:name="test" th:value="*{plannerNo}" />
			</div>


		</a>
	</th:block>
</div>

	<div class="textcenter">

	<th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
		<a th:if="${page != nowPage and page>0}"
			th:href="@{/plan/plannerallview/(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}"
			th:text="${page}"></a>
		<strong class="bold" th:if="${page == nowPage}" th:text="${page}"></strong>
	</th:block>
</div>

<form th:action="@{/plan/plannerallview/}" method="get" class="textcenter formview">

	<div class="searchbarview">
	<input type="text" name="searchKeyword" class="searchbar" placeholder="검색어 입력">
	<button type="submit" class="seachbutton">검색</button>
</div>


	</form>
</main>

</html>