<!DOCTYPE html>
<html lang="ko" class="hihi">
  <head>
    <meta charset="UTF-8" />
    <title>Modal</title>
    <head>
<style>
   .hihi::-webkit-scrollbar {display: none;}

.hihi{scrollbar-width: none; -ms-overflow-style:none;}

 </style>   
    </head>
  </head>
  <body style="margin:0;">

    <div style="overflow: hidden;">

    <div style=" display:flex; border: 1px solid red;  margin: 0;overflow: auto;">  
      <div style="border: 1px solid green; width:60%;">
        사용자가 정의한 제목
      </div>
      <div class="update" style="border: 1px solid blue; width:20%;text-align:center;">
        
        <input type="button"value="수정" onclick = location.href="writedate"  style="border-radius: 50%;height: 50px; width: 50px;cursor: pointer; "></input>
      </div>
      <div class="delete" style="border: 1px solid blue; width:20%;text-align:center;">
       <input type="button"value="삭제"style="border-radius: 50%;height: 50px; width: 50px;cursor: pointer; "></input>
      </div>
      </div>


    

		<div style=" display:flex; border: 1px solid red;  margin: 0;overflow: auto;">  
      <div style="border: 1px solid green; width:50%; height: 50%;">
        여행 제목
      </div>
      <div style="border: 1px solid blue; width:50%; height: 50%;">
        즐거운 여행 리스트
      </div>
		</div>
    <div style=" display:flex; border: 1px solid red;  margin: 0;overflow: auto;">  
      <div style="border: 1px solid green; width:50%; height: 50%;">
        여행 기간
      </div>
      <div style="border: 1px solid blue; width:50%; height: 50%;">
        ex) 2022 12 01~2022 12 03
      </div>
		</div>
    <div style=" display:flex; border: 1px solid red;  margin: 0;overflow: auto;">  
      <div style="border: 1px solid green; width:50%; height: 50%;">
        여행타입
      </div>
      <div style="border: 1px solid blue; width:50%; height: 50%;">
        Ex)가족여행
      </div>
		</div>
    <div style=" display:flex; border: 1px solid red;  margin: 0;overflow: auto;">  
      <div style="border: 1px solid green; width:50%; height: 50%;">
        여행 인원수
      </div>
      <div style="border: 1px solid blue; width:50%; height: 50%;">
        4인
      </div>
		</div>
    <div style=" display:flex; border: 1px solid red;  margin: 0;overflow: auto;">  
      <div style="border: 1px solid green; width:50%; height: 50%;">
        사용자 정의 메모
      </div>
      <div style="border: 1px solid blue; width:50%; height: 50%;">
        사용자 정의 메모
      </div>
		</div>
  </div>
  <div style=" display:flex; border: 1px solid red;  margin: 0;overflow: auto;">  

   Day1
    </div>
    <div style="padding: 20px 20px;
    text-align: center;
    word-break: keep-all;
    line-height: 1.2;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Aperiam distinctio aut fuga voluptatem qui inventore, 
    dolor voluptas ad minima accusamus nam! Fugit pariatur, 
    ipsa nobis dignissimos dolor reiciendis voluptatum natus!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Aperiam distinctio aut fuga voluptatem qui inventore, 
    dolor voluptas ad minima accusamus nam! Fugit pariatur, 
    ipsa nobis dignissimos dolor reiciendis voluptatum natus!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Aperiam distinctio aut fuga voluptatem qui inventore, 
    dolor voluptas ad minima accusamus nam! Fugit pariatur, 
    ipsa nobis dignissimos dolor reiciendis voluptatum natus!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Aperiam distinctio aut fuga voluptatem qui inventore, 
    dolor voluptas ad minima accusamus nam! Fugit pariatur, 
    ipsa nobis dignissimos dolor reiciendis voluptatum natus!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Aperiam distinctio aut fuga voluptatem qui inventore, 
    dolor voluptas ad minima accusamus nam! Fugit pariatur, 
    ipsa nobis dignissimos dolor reiciendis voluptatum natus!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Aperiam distinctio aut fuga voluptatem qui inventore, 
    dolor voluptas ad minima accusamus nam! Fugit pariatur, 
    ipsa nobis dignissimos dolor reiciendis voluptatum natus!
 

  </div>



  </body>

</html>
