<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<main layout:fragment="content">
<style>
   .hihi::-webkit-scrollbar {display: none;}

.hihi{scrollbar-width: none; -ms-overflow-style:none;}

 </style>  

  
    </head>
  </head>
  <body style="margin:0;">

    <div style="overflow: hidden;">

    <div style=" display:flex; border: 1px solid red;  margin: 0;overflow: auto;">  
      <div style="border: 1px solid green; width:60%;">
        사용자가 정의한 제목
      </div>
      <div class="update" style="border: 1px solid blue; width:20%;text-align:center;">
        

        
        <a th:href="@{/plan/writeplan/}+${planner.plannerNo}">
        <button type="submit" 
           style="border-radius: 50%;height: 50px; width: 50px;cursor: pointer; ">
          
           </button>
            </a>
      </div>

      
      <div class="delete" style="border: 1px solid blue; width:20%;text-align:center;">
       <input class=type="button"value="삭제"  style="border-radius: 50%;height: 50px; width: 50px;cursor: pointer; "></input>
      </div>
      </div>



    

		<div style=" display:flex; border: 1px solid red;  margin: 0;overflow: auto;">  
      <div style="border: 1px solid green; width:50%; height: 50%;">
        제목
      </div>
      <div style="border: 1px solid blue; width:50%; height: 50%;">
        <span th:text="${planner.title}">   </span>
      </div>
		</div>
    <div style=" display:flex; border: 1px solid red;  margin: 0;overflow: auto;">  
      <div style="border: 1px solid green; width:50%; height: 50%;">
        여행 기간
      </div>
      <div style="border: 1px solid blue; width:50%; height: 50%;">
        <span th:text="${planner.sdate}"></span> ~ <span th:text="${planner.edate}">   </span>
      </div>
		</div>
    <div style=" display:flex; border: 1px solid red;  margin: 0;overflow: auto;">  
      <div style="border: 1px solid green; width:50%; height: 50%;">
        여행타입
      </div>
      <div style="border: 1px solid blue; width:50%; height: 50%;">
      
        <span th:text="${planner.planType}">   </span>
      </div>
		</div>
    <div style=" display:flex; border: 1px solid red;  margin: 0;overflow: auto;">  
      <div style="border: 1px solid green; width:50%; height: 50%;">
        여행 인원수
      </div>
      <div style="border: 1px solid blue; width:50%; height: 50%;">
        <span th:text="${planner.planSize}"> </span>
      </div>
		</div>
    <div style=" display:flex; border: 1px solid red;  margin: 0;overflow: auto;">  
      <div style="border: 1px solid green; width:50%; height: 50%;">
        사용자 정의 메모
      </div>
      <div style="border: 1px solid blue; width:50%; height: 50%;">
        <span th:text="${planner.memo}"> </span>
      </div>
		</div>
  </div>
  <div style=" display:flex; border: 1px solid red;  margin: 0;overflow: auto;">  

   Day1
    </div>
    <div style="padding: 20px 20px;
    text-align: center;
    word-break: keep-all;
    line-height: 1.2;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Aperiam distinctio aut fuga voluptatem qui inventore, 
    dolor voluptas ad minima accusamus nam! Fugit pariatur, 
    ipsa nobis dignissimos dolor reiciendis voluptatum natus!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Aperiam distinctio aut fuga voluptatem qui inventore, 
    dolor voluptas ad minima accusamus nam! Fugit pariatur, 
    ipsa nobis dignissimos dolor reiciendis voluptatum natus!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Aperiam distinctio aut fuga voluptatem qui inventore, 
    dolor voluptas ad minima accusamus nam! Fugit pariatur, 
    ipsa nobis dignissimos dolor reiciendis voluptatum natus!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Aperiam distinctio aut fuga voluptatem qui inventore, 
    dolor voluptas ad minima accusamus nam! Fugit pariatur, 
    ipsa nobis dignissimos dolor reiciendis voluptatum natus!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Aperiam distinctio aut fuga voluptatem qui inventore, 
    dolor voluptas ad minima accusamus nam! Fugit pariatur, 
    ipsa nobis dignissimos dolor reiciendis voluptatum natus!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Aperiam distinctio aut fuga voluptatem qui inventore, 
    dolor voluptas ad minima accusamus nam! Fugit pariatur, 
    ipsa nobis dignissimos dolor reiciendis voluptatum natus!
 

  </div>



  </body>
</main>
</html>
