<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}">

<main layout:fragment="content">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
	<link th:href="@{/css/plan/weather.css}" rel="stylesheet" type="text/css">
	<head>
		<style>

		</style>
		﻿	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" th:src="@{/js/plan/makePlan/weather.js}"></script>
﻿

	</head>
 <div class="Weather">
        <div class="Weather-slideshow-container">
            <div>
                <!--<a class="Weather-prev" onclick='WeatherPlusSlides(-1)'>&#10094;</a>-->
            </div>

            <div class="align-Colum1 align-Center">
                <div class="BorderRound Tmoney-fontsize-150">
                <span class="nowtime"></span>
                <span class="marginLeft-5">현재날씨</span>
                </div>

                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">춘천</span>
                        <span class="ChuncheonIcon"></span>
                        <span class="ChuncheonNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>

                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">강릉</span>
                        <span class="GangneungIcon"></span>
                        <span class="GangneungNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>

                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">원주</span>
                        <span class="WonjuIcon"></span>
                        <span class="WonjuNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>

                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">서울</span>
                        <span class="SeoulIcon"></span>
                        <span class="SeoulNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>
                
                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">인천</span>
                        <span class="IncheonIcon"></span>
                        <span class="IncheonNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>

                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">청주</span>
                        <span class="CheongjuIcon"></span>
                        <span class="CheongjuNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>

                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">대전</span>
                        <span class="DaejeonIcon"></span>
                        <span class="DaejeonNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>

                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">안동</span>
                        <span class="AndongIcon"></span>
                        <span class="AndongNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>

                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">대구</span>
                        <span class="DaeguIcon"></span>
                        <span class="DaeguNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>

                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">울산</span>
                        <span class="UlsanIcon"></span>
                        <span class="UlsanNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>
                
                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">창원</span>
                        <span class="ChangwonIcon"></span>
                        <span class="ChangwonNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>
                
                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">부산</span>
                        <span class="BusanIcon"></span>
                        <span class="BusanNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>
                
                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">전주</span>
                        <span class="JeonjuIcon"></span>
                        <span class="JeonjuNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>
                
                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">목포</span>
                        <span class="MokpoIcon"></span>
                        <span class="MokpoNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>
                
                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">광주</span>
                        <span class="GwangjuIcon"></span>
                        <span class="GwangjuNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>
                
                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">여수</span>
                        <span class="YeosuIcon"></span>
                        <span class="YeosuNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>
                
                <div class="Weather-Slides Weather-fade">
                    <div class="align-Center align-Colum paddingTop-10">
                        <span class="Tmoney-fontsize-150 color-blue">제주</span>
                        <span class="JejuIcon"></span>
                        <span class="JejuNowtemp KOTRA-fontsize-100">현재기온:</span>
                    </div>
                </div>
                
            </div>

            <div>
             <!--   <a class="Weather-next" onclick='WeatherPlusSlides(1)'>&#10095;</a>-->
            </div>

        </div>
        <br>
        <div style='text-align: center;'>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(1)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(2)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(3)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(4)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(5)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(6)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(7)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(8)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(9)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(10)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(11)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(12)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(13)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(14)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(15)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(16)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(17)'></span>
            <span class="Weather-dot" onclick='WeatherCurrentSlide(18)'></span>
            
        </div>
    </div>
    
    
    
</main>
</html>