<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	
	<head>
		<meta charset="UTF-8">
		<title></title>
		
		<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
		<link rel="stylesheet" type="text/css" th:each="boot:${addBootstrapCss}" th:href="@{/vendor/{css}.css(css=${boot})}">
		<link rel="stylesheet" type="text/css" th:each="css:${addCss}" th:href="@{/css/{css}.css(css=${css})}">
	</head>
	
	<th:block th:object="${#authentication.principal.user}">
	<body id="page-top d-flex flex-coulmn min-vh-100">
		<div id="wrapper">
			<th:block th:replace="admin/outlines/sidebar::sidebar"></th:block>
			<div id="content-wrapper" class="d-flex flex-column">
				<!-- Main Content -->
            	<div id="content">
					<header th:replace="admin/outlines/header::header"></header>
					<main layout:fragment="content"></main>
					<footer th:replace="admin/outlines/footer::footer"></footer>
				</div>
			</div>
		</div>
		<th:block th:replace="admin/outlines/logout::logout"></th:block>
	</body>
	</th:block>
	<script th:src="@{/js/common.js}"></script>
	<script src="https://kit.fontawesome.com/8bb7604283.js" crossorigin="anonymous"></script>
	<script th:each="boot : ${addBootstrapJs}" th:src="@{/vendor/{js}.js(js=${boot})}"></script>
	<script th:each="script : ${addScript}" th:src="@{/js/{js}.js(js=${script})}"></script>
</html>