<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/main}">
	
	<main layout:fragment="content">
		<!-- 커뮤니티 공통 상단 네비바 -->
		<th:block th:replace="outlines/community_top::community_top"></th:block>
		
		<form method="get" th:action="@{/community/review/search}">
			<input type="text" placeholder="여행지 검색" name="search">
			<button type="submit" th:text="#{review.search}"></button>
		</form>
		<div>
			<table>
				<tr>
					<th th:text="#{review.reviewTitle}"></th>
					<th:block th:if="${search==null}">
						<td>내용</td>
					</th:block>
					<th:block th:unless="${search==null}">
						<td th:text="${search}"></td>
					</th:block>
				</tr>
			</table>
		</div>
	</main>
</html>