<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/main}">	
	
	<!-- css -->
	<th:block layout:fragment="community_css"> 
		<link rel="stylesheet" type="text/css" th:href="@{/css/community/community_common.css}">
	</th:block>
	
	<!-- script -->
	<script>
		/* controller의 model에 보낸 값 바로 사용하기 */
		let board='[[${board}]]';
	</script>		
	<th:block layout:fragment="community_common">
		<script type="text/javascript" src="/js/community_common.js"></script>
	</th:block>	
		
	<!-- 메인시작 -->
	<main layout:fragment="content" class="content">
		<!-- 커뮤니티 공통 상단 네비바 -->
		<th:block th:replace="outlines/community_top::community_top"></th:block>
		<!-- 게시판명 -->
		<div class="font3" th:text="#{community.review}"></div>
		<!-- 여행지 검색 -->
		<div>
			<span>[총건수 : <span th:text="${totalCount}"></span>/페이지]</span>
			<form method="get" th:action="@{/community/review_search}">
				<input type="text" placeholder="여행지 검색" name="search">
				<button type="submit" th:text="#{review.search}"></button>
			</form>
		</div>
		
		<!-- 여행후기(테이블) -->
		<div>
			<table>				
				<tr>
					<th th:text="#{review.index}">글번호</th>
					<th th:text="#{review.reviewTitle}">제목</th>
					<th th:text="#{common.region}">여행지</th>
					<th th:text="#{review.period}">기간</th>
					<th th:text="#{common.userName}">작성자</th>
					<th th:text="#{review.reviewRegDt}">작성일</th>
					<th th:text="#{review.read}">조회수</th>
				</tr>
				
				<!-- 후기조회 결과가 없을 경우 -->
				<th:block th:if="${lists==null}"></th:block>
				
				<!-- 후기조회 결과가 있을 경우 -->
				<th:block th:unless="${lists==null}">
					<tr th:each="list, status:${lists}" th:object="${list}">
						<td th:text="${status.size-status.index}">글번호</td>
						<td><a th:href="@{/community/review_read?reviewNo={replace}(replace=*{reviewNo})}" 
							th:text="*{reviewTitle}">제목</a></td>
						<td th:text="*{region}">여행지</td>
						<td th:text="*{period}">기간</td>
						<td th:text="*{name}">작성자</td>
						<td th:text="*{#temporals.format(reviewRegDt,'yyyy-MM-dd HH:mm')}">작성일</td>
						<td th:text="*{read}">조회수</td>
					</tr>
				</th:block>
			</table>
		</div>
		<div>
			<th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
				<a th:href="@{/community/review_main?pageSize=10&page={replace}(replace=${page})}" 
					th:text="${page}"></a>
			</th:block>
			<button type="submit" th:text="#{review.write}"></button>
		</div>
	
		
	</main>
	
</html>