<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/main}"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
	<!-- 메인시작 -->
	<main layout:fragment="content" class="content">
		<input type="hidden" id="order" th:value="${order}">
		<input type="hidden" id="keyword" th:value="${keyword}">
		<input type="hidden" id="user" th:value="${user}">
		<!-- 커뮤니티 공통 상단 네비바 -->
		<th:block th:replace="outlines/community_top::community_top"></th:block>
		
		<div class="marginTop150"></div>
		
		<!-- 후기 내용 -->
		<div class="wrap centerW">
			<input type="hidden" id="reviewNo" th:value="*{reviewNo}">
			<table class="communityT marginAuto" th:object="${reviewRequest}">
				<tr>
					<td class="width100 font2" colspan="4" align="left" th:text="*{reviewTitle}"></td>
				</tr>
				<tr align="left">
					<th th:text="#{common.region}"></th>
					<td th:text="*{region}"></td>
					<th th:text="#{review.period}"></th>
					<td th:text="*{period}"></td>
				</tr>
				<tr>
					<td colspan="4" align="right">
						<a th:href="@{/user/mypage/{id}(id=*{id})}"><span th:text="*{name}"></span></a>&nbsp;&nbsp;
						<span th:text="*{#temporals.format(regDt, 'yyyy-MM-dd HH:mm')}"></span>
					</td>
				</tr>
				<tr>
					<td colspan="4" align="left" class="enter" id="reviewContent" th:utext="*{reviewContent}">
						<input type="hidden" id="test" th:value="${fileLists}">						
					</td>
				</tr>
			</table>
			<div class="marginTop30"></div>			
			
			<!-- 좋아요 -->
			<div class="width80 marginAuto">
				<div align="left">
					<span class="liked">
						<th:block th:if="${likes}" th:each="like : ${likes}">
							<input th:if="*{like.userId}==${user}" type="hidden" id="likedNo" th:value="*{like.likedNo}">
							<input th:if="*{like.userId}==${user}" type="hidden" id="liked" th:value="*{like.liked}">
						</th:block>
						<i class="fa-regular fa-heart toggleLiked" th:classappend="${user == null }? 'login_required' : ''"></i>
					</span>
					<span th:text="' '+#{review.like}"></span><span th:text="' '+${totalLikes}" id="totalLikes"></span>&nbsp;
					<span>
						<i class="fa-regular fa-comment-dots"></i>
						<span th:text="#{community.reply}+' '+${replies.size()}"></span>
					</span>
				</div>
			</div>
			
			<!-- 댓글 -->
			<th:block th:replace="community/reply::reply"></th:block>
			
			<div>
				<button class="btn0 width25" type="button" th:text="#{community.list}"
					th:onclick="|location.href='/community/review_main?page=${page}'|">목록</button>
				<th:block sec:authorize="isAuthenticated()">
				<a class="btn2 width25" type="button" th:text="#{report}"
					th:href="@{/report/review/{reviewNo}(reviewNo=${reviewRequest.reviewNo})}"></a>
				</th:block>
				<th:block th:if="${user==reviewRequest.id}">
					<button class="btn1 width20" id="modifyBtn" type="button" th:text="#{community.modify}">수정</button>
					<button class="btn1 width20" id="deleteBtn" type="button" th:text="#{community.delete}">삭제</button>
				</th:block>
			</div>
			
			<div class="marginTop30"></div>				
			
		</div>
	</main>					
</html>