<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/main}">

	<main layout:fragment="content" class="content">
		<!-- 커뮤니티 공통 상단 네비바 -->
		<th:block th:replace="outlines/community_top::community_top"></th:block>
		
		<div class="marginTop150"></div>
		
		<!-- 수정 내용 -->
		<div class="wrap centerW">
			<form method="post" th:action="@{/community/review_update}" autocomplete="off" th:object="${reviewRequest}">
				<!-- <input type="hidden" name="gid" id="gid" th:value="${gid}"> -->
				<input type="hidden" name="gid" th:field="*{gid}">
				<input type="hidden" name="reviewNo" th:field="*{reviewNo}">
				<th:block th:replace="community/review/_form::form"></th:block>
				<div class="marginTop30"></div>
				<button class="btn0 width25" type="button" th:text="#{community.cancel}"
							th:onclick="history.back();">취소</button>
				<button class="btn1 width25" type="submit"th:text="#{community.modify}">수정</button>
			</form>
		</div>
	</main>
</html>