<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/main}">
	
	<!-- 메인시작 -->
	<main layout:fragment="content" class="content">
		<input type="hidden" id="board" th:value="${board}">
		<input type="hidden" id="keyword" th:value="${keyword}">
		<!-- 커뮤니티 공통 상단 네비바 -->
		<th:block th:replace="outlines/community_top::community_top"></th:block>
		
		<div class="marginTop150"></div>
		
		<!-- 후기 내용 -->
		<div class="wrap centerW">
			<input type="hidden" id="reviewNo" th:value="*{reviewNo}">
			<table class="communityT marginAuto" th:object="${reviewRequest}">
				<tr>
					<td class="width100 font2" colspan="4" align="left" th:text="*{reviewTitle}"></td>
				</tr>
				<tr align="left">
					<th th:text="#{common.region}"></th>
					<td th:text="*{region}"></td>
					<th th:text="#{review.period}"></th>
					<td th:text="*{period}"></td>
				</tr>
				<tr>
					<td colspan="4" align="right">
						<span th:text="*{name}"></span>&nbsp;&nbsp;
						<span th:text="*{#temporals.format(regDt, 'yyyy-MM-dd HH:mm')}"></span>
					</td>
				</tr>
				<tr>
					<td colspan="4" align="left" class="enter" id="reviewContent" th:utext="*{reviewContent}">
						<input type="hidden" id="test" th:value="${fileLists}">						
					</td>
				</tr>
			</table>
			<div class="marginTop30"></div>
			
			<!-- 목록으로 돌아가기 -->
			<div>
				<button class="btn0 width25" id="backBtn" type="button" th:text="#{community.list}">목록</button>
				<th:block th:if="${session.user==reviewRequest.id}">
					<button class="btn1 width20" id="modifyBtn" type="button" th:text="#{community.modify}">수정</button>
					<button class="btn1 width20" id="deleteBtn" type="button" th:text="#{community.delete}">삭제</button>
				</th:block>
			</div>
		</div>
	</main>
</html>