<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/main}">

	<!-- 메인시작 -->
	<main layout:fragment="content" class="content">
		<input type="hidden" id="board" th:value="${board}">
		<!-- 커뮤니티 공통 상단 네비바 -->
		<th:block th:replace="outlines/community_top::community_top"></th:block>
		
		<div class="marginTop150"></div>
		
		<!-- 후기 작성 -->
		<div class="wrap centerW">
			<form name="regForm" method="post" id="regForm" th:action="@{/community/review_register}"  th:object="${reviewRequest}">
				<input type="hidden" name="gid" id="gid" th:value="${gid}">
				<table class="communityT marginAuto">
					
					<tr>						
						<td colspan="4" align="left"><!-- 제목 -->
							<span class="errMsg" th:each="err : ${#fields.errors('reviewTitle')}" th:text="${err}"></span>
							<input class="width100 borderX clkBorderX font2" type="text" name="reviewTitle" 
								placeholder="제목을 입력해 주세요" th:field="*{reviewTitle}">
						</td>
					</tr>
					<tr>
						<th th:text="#{common.region}"></th><!-- 여행지 -->
						<td align="left">
							<!-- <select class="width100 borderX clkBorderX" name="region" th:field="*{region}"> -->
							<select class="width100 borderX clkBorderX" name="region">
								<option value="">선택[필수]</option>
								<option th:each="region, status : ${regionLists}" th:value="${region}" 
											th:text="${region}" th:selected="${region}==*{region}"></option>
							</select>
						</td>
						<th th:text="#{review.period}"></th><!-- 여행기간 -->
						<td align="left">
							<select name="period">
								<option value="">선택[필수]</option>
								<option th:each="period, status : ${periodLists}" th:text="${period}" 
											th:value="${period}" th:selected="${period}==*{period}"></option>
							</select>
						</td>
					</tr>
					<tr>
						<th th:text="#{review.file}"></th><!-- 파일 -->
						<td colspan="3" align="left">
							<input type="file" name="files" id="files" multiple data-gid>
						</td>
					</tr>
					<tr>
						<td colspan="4"> <!-- 내용 -->
							<textarea rows="20" id='reviewContent' name="reviewContent"
								placeholder="내용을 입력해 주세요" th:field="*{reviewContent}">
							</textarea>
								<div class="errMsg" th:each="err: ${#fields.errors('reviewContent')}" th:text="${err}"></div>
						</td>
					</tr>
				</table>
				<input th:if="${reviewRequest.reviewNo != null && reviewRequest.reviewNo > 0}" type="hidden" id="reviewNo" name="reviewNo" th:value="${reviewRequest.reviewNo}">
				<div class="marginTop30"></div>
				<button class="btn0 width25" id="cancel" type="button" th:text="#{community.cancel}">취소</button>
				<th:block th:if="${session.user==reviewRequest.id && reviewRequest.reviewNo != null}">
					<button class="btn1 width25" type="submit" id="update" th:text="#{community.modify}">수정</button>
				</th:block>
				<th:block th:unless="${session.user==reviewRequest.id && reviewRequest.reviewNo != null}">
					<button class="btn1 width25" type="submit" th:text="#{community.register}">등록</button>
				</th:block>
			</form>
		</div>
	</main>	
</html>